[2014-12-02 09:19] tomheller opened #1 "Spawning child processes on windows"
When spawning child processes on Windows (Win7x64) gulp crashes because it cannot find the commands.
gulpfile.js:78

[code]

& gulpfile.js:193

[code]

By checking the process.platform variable first and calling either 'bower.cmd' on windows or 'bower' on MacOS, this problem is solved.

[code]

&

[code]

[2014-12-03 14:34] #1 closed, assigned to nobody

[2014-12-04 16:54] coljung opened #2 "ENOENT error"
When i try to run this i get an error, i followed the steps and im not sure what im missing.

To get the error I went to the specified folder and ran gulp echo, this is the message received:

[11:51:14] Using gulpfile ~\Projects\git\myCoolProject\bower_components\backstopjs\gulpfile.js
[11:51:14] Starting 'echo'...
[11:51:14] Finished 'echo' after 2.22 ms

events.js:72
        throw er; // Unhandl

[2014-12-04 19:46] DimaVartanian opened #3 "wrong language set on Github"
FYI I'm pretty sure you have your language set to Objective-C instead of JS. I found this repo trending in the Objective-C list here: https://github.com/trending?l=objective-c

Figured I'd point it out as it may hurt discoverability for you :)

[2014-12-04 23:15] impressivewebs opened #4 "spelling error"
Nice tool! It says:

"automates CSS regression **tesing** of your responsive web UI by comparing DOM screenshots at various viewport sizes."

Should say "testing". :)

[2014-12-04 23:18] #4 closed, assigned to nobody

[2014-12-05 18:41] #3 closed, assigned to nobody

[2014-12-06 09:50] lewisnyman opened #8 "Remove the need for empty configuration objects"
Hi, this tool is great! Very usable and simple. Thank you.

One thing I saw that could make it more usable is to reduce the amount of config that is required or assumed, for simpler use cases.

_Simple use case_
I want to capture the whole page, and hide/remove nothing on the page.

This means that the hideSelectors and removeSelectors are redundant, but removing them from grabConfigs causes this

[2014-12-06 10:37] lewisnyman opened #10 "Can I generate and share a report?"
- Use case: *
  I'm run some tests on the latest version of code and I've found some failures. Instead of fixing the myself I want to share them with my team so they can fix the problems.

Is there a way to do that now? It seems like I need a server running access the report, there's no way of generating a static report?

[2014-12-07 22:28] felquis opened #11 "Improve code pattern consistency"
Hi @garris

Would you like a pull request with a .editorconfig and JSHint tests to improve JS code?

Things like, ensure I used single quotes, ensure I used 4 spaces tabs, remove trailing spaces, ensure I do not let unused variables in the code etc...

I think this repository will receive a lot of pull request and some tests with Travis CI can save a lot of your time.

Thanks.

[2014-12-08 14:39] #10 closed, assigned to nobody

[2014-12-11 00:57] #8 closed, assigned to nobody

[2014-12-18 21:10] #2 closed, assigned to nobody

[2014-12-18 23:26] caseycobb opened #15 "Hanging on "CasperJS: CREATING NEW REFERENCE FILES""
Everything seems to be good, but it never completes "CasperJS: CREATING NEW REFERENCE FILES" and doesn't generate any images.

Any ideas?

We're on Ubuntu 14.04 and the setup instructions went smoothly.

[2014-12-19 03:45] #15 closed, assigned to garris

[2015-01-05 19:19] fvena opened #16 "update gulpfile.js"
gulp.run() has been deprecated. Use task dependencies or gulp.watch task triggering instead.

...

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: spawn ENOENT
    at errnoException (child_process.js:1001:11)
    at Process.ChildProcess._handle.onexit (child_process.js:792:34)

[2015-01-05 21:00] garris commented on #16
Hi fvena,   This error is usually caused by a dependency issue.   Can you verify that Phantom and Casper are installed correctly?

    $ phantomjs -v

and

    $ casperjs --version

[2015-01-05 22:11] fvena commented on #16
Yes, I have those versions, but get the following message:

$ phantomjs -v

$ casperjs --version

[2015-01-05 22:38] garris commented on #16
Ok.  3 requests...

Can you try running `gulp genConfig` and post the full output.

Can you post the <root>/backstop.json file as well.

And also, please post the full output for `gulp reference`.

[2015-01-05 22:49] fvena commented on #16
$ gulp genConfig

backstop.json

[code]
Using gulpfile ~/Sites/temp/myCoolProject/bower_components/backstopjs/gulpfile.js
Starting 'clean'...
bitmaps_reference was cleaned.
Starting 'bless'...
Finished 'clean' after 12 ms
Finished 'bless' after 17 ms
Starting 'reference'...
gulp.run() has been deprecated. Use task dependencies or gulp.watch task triggering instead.
Starting 'init'...

BackstopJS n

[2015-01-05 23:21] garris commented on #16
Thanks for that.  It looks like node is not able to spawn out Casper or Phantom.  What OS are you on?

Just to test this, you could add this log stmt at line 199 of gulpfile.js...

    console.log( 'Ready to run ' + tests + ' with ' + casperProcess + '.' )

![image](https://cloud.githubusercontent.com/assets/447033/5621758/12c244c8-94ee-11e4-9b30-0ea6b2dd4d0d.png)

[2015-01-06 16:44] fvena commented on #16
Thank you very much for your help, my OS is OSX Yosemite 10.10.1, this is what I get:

[code]

[2015-01-08 10:08] peter-mouland opened #17 "refactor"
hey,

I've found your repo and it looks very interesting... almost what i need :)

I know at the moment there are no test, probably because testing gulp tasks is hard, but if i propose a refactor how likely is a pull-request going to accepted?  I ask because the last pull request is sitting still.

I think it makes sense to pull out as much code as possible into an index.js to allow people require

[2015-01-08 16:30] garris commented on #17
I can tell from your wish list that we are on the same page.  All this stuff makes total sense. Even without tests I am really happy to pull this stuff in -- it's worth the short term regression risk.   I would also add that I've gotten a lot of feedback on adding a ready event listener to the config -- e.g. a developer could emit a 'myAppIsReady' event on the body or in the console and BackstopJS

[2015-01-08 16:35] garris commented on #17
if you do go ahead with the changes -- I would just suggest you set the *default* reference directory location to be in parallel with the backstop.json file.  It would simplify the on-boarding process for new users.

[2015-01-11 17:33] lewisnyman opened #18 "Simplify the config structure to improve usability"
I'm giving a presentation on this tool next week, comparing how simple it is to use compared to a tool like PhantomCSS. I've been including config examples in my slides which means I've been thinking a lot about how to simplify them so the on boarding process on getting up and running is even smoother.

  {
     "name": "phone",
     "viewport":  {"width": 320, "height": 480 }
  }

Why wrap the di

[2015-01-11 22:59] garris commented on #18
I think this is great.  And I don't think this requires breaking changes...

1. We could detect a `viewport` object in the config file and map that to root-level properties.  Then we could throw a warning: e.g. *'viewport' object is deprecated. Please see documentation for updated config properties.*   This is a trivial addition which can be phased out and it will make life easier for early adopte

[2015-01-12 20:49] sergesemashko opened #19 "If bower directory is different from bower_components, angular APP has wrong JS paths"
I have following folder structure:
- .bowerrc - contains:
[code]
- patternlab-source/bower_components/backstopjs/compare/patternlab-source/bower_components/angular
- patternlab-source/bower_components/backstopjs/compare/patternlab-source/bower_components/angular-route
- ...

Paths in Angular App do not match folder structure - [screenshot](http://take.ms/caAxN) . To fix the issue path should conta

[2015-01-12 21:54] garris commented on #19
Hi @sergesemashko, Thanks for posting.  Not sure what the use case would be for changing the bower_components path *inside* the BackstopJS directory.  Could you let me know?  Thanks -GS

[2015-01-12 22:08] sergesemashko commented on #19
Yeah, I don't know either :) That structure is automatically generated after, I guess, ```npm install```. I was running commands in order according to [CSS-tricks manual](http://css-tricks.com/automating-css-regression-testing/).

[2015-01-12 22:49] garris commented on #19
oh... Got it!   Looks like Bower is behaving just as Bower should.  I just added a local `.bowerrc` to `backstopjs/` root and all is well.   I will push this update out momentarily.   Thank you very much for reporting this bug!

Cheers,
Garris

[2015-01-12 22:59] garris commented on #19
@sergesemashko -- new release pushed out.  It would be great if you had a minute to validate the fix.

https://github.com/garris/BackstopJS/releases/tag/0.2.6

Regards!

Garris

[2015-01-12 22:59] #19 closed

[2015-01-13 16:34] sergesemashko commented on #19
@garris it works,
thanks for quick reply and fix

[2015-01-16 11:33] lewisnyman commented on #18
I'll send a pull request next week. I've been concentrating on the presentation. It should be recorded so I'll send you the video once it's up :)

[2015-01-16 14:52] garris commented on #18
That is fantastic.  Best of luck with the presentation!

-------
Sent from my mobile device.

[2015-01-23 02:00] garris opened #20 "validation of new features: readyEvent and delay"
I implemented loadEvent and delay features.  Documentation is in the readme.

If anyone happens to get a minute I'd love to get some feedback on those.

Thanks!  GS

[2015-01-23 02:12] garris commented on #18
@lewisnyman -- just a heads up, new release today. You might want to do a pull.  Take care.  GS

[2015-01-23 10:20] lewisnyman commented on #20
I needed to use this feature today as it happens. I needed to add the delay setting to every page, which was a little tiresome. Maybe allowing a global configuration that can be overridden per page might be better? I guess you could do the same for the event option

[2015-01-23 11:56] lewisnyman opened #21 "Uncaught fails?"
Hey,

I was testing v0.3.0 today and I noticed that some tests that were caught by resemble.js weren't being marked as fails by the app? Screenshots attached:

![screenshot 2015-01-23 12 03 45](https://cloud.githubusercontent.com/assets/632390/5874219/2a642276-a2ff-11e4-9821-943a541ba344.jpg)
![screenshot 2015-01-23 12 04 11](https://cloud.githubusercontent.com/assets/632390/5874221/2f746276-a2ff-

[2015-01-23 14:17] garris commented on #21
Yes, I started seeing this recently also.  See line 34 of `compare/index.html`.

    		var misMatchThresh = 1;

This setting allows you to give some range of acceptable deviation.  In your examples it is a very small difference -- in the 0.17 range.   I set the threshold high, to avoid false positives on rounding errors.

This really should be able to be a user setting -- and also, probably set mu

[2015-01-23 14:20] garris commented on #20
Yes, great suggestion, I will work on that and also add a global sensitivity setting.

BTW: Thank you very much for validating the release!  I really appreciate the help. :)

[2015-01-23 14:23] garris commented on #21
Tracking this in issue #20

[2015-01-27 12:36] lewisnyman commented on #20
No problem! This is how open source works :) Thanks for working on it

[2015-01-28 04:01] jehoshua02 opened #22 "Non-conventional code formatting in generated config file"
The config file uses tabs instead of spaces. I think that two spaces is more common and widely accepted among front-end developers.

Also, the commas are on the beginning of the next line, when typically I find them on the end of the line.

This is how I would like to format it:

[code]

[2015-01-28 04:56] jehoshua02 opened #23 "CasperJS and PhantomJS are BackstopJS Dependencies."
CasperJS and PhantomJS are BackstopJS dependencies. Please consider adding them to `package.json` and/or `bower.json`.

[2015-01-28 04:56] jehoshua02 commented on #23
Maybe looking at how I've done things here will help: https://github.com/jehoshua02/backstopjs-example

[2015-01-28 06:12] #16 closed

[2015-01-28 18:20] garris opened #24 "Implement global settings node in config"
Add global property settings in config.

Namely:
- readyEvent
- delay
- threshold
- serverShutDownTime
- cookiesJsonPath
- casperScriptPath

Based on popular requests.

[2015-01-28 18:22] garris commented on #21
I will move this feature to an enhancement request.

[2015-01-28 18:22] garris commented on #24
Closes #21

[2015-01-28 18:22] garris commented on #21
Closed by #24

[2015-01-28 18:26] garris commented on #20
moving to feature request.

Closed by #24

[2015-01-28 18:26] garris commented on #24
Closes #20

[2015-01-28 18:31] garris commented on #23
This is a very popular enhancement.  Do you care to make a pull request?

Also, is it possible to implement this install without breaking the old install option.  There may be users who don't necessarily want their existing phantomjs & casperjs versions bumped.

What do you think?

[2015-01-28 20:30] jehoshua02 commented on #23
You would bump your version number and they could stay on an older version of backstop.

[2015-01-28 20:31] jehoshua02 commented on #23
I've forked it and will submit a pull request sometime.

[2015-01-29 14:01] #21 closed

[2015-01-29 14:01] #20 closed

[2015-01-30 15:33] jehoshua02 opened #26 "Install BackstopJS via NPM"
The benefit of installing BackstopJS via NPM is that it's dependencies would be installed recursively.

[code]

This not only records BackstopJS as a dependency in my project's `package.json` and installs it into `node_modules/`, but it also installs BackstopJS dependencies, recorded in `node_modules/BackstopJS/package.json`, into `node_modules/BackstopJS/node_modules`.

I'm not sure I would even

[2015-01-30 15:35] jehoshua02 commented on #26
See [backstopjs-example](https://github.com/jehoshua02/backstopjs-example). Also see related, but independent issue [CasperJS and PhantomJS are BackstopJS Dependencies](https://github.com/garris/BackstopJS/issues/23).

[2015-01-30 16:52] garris commented on #26
Yes, let's do this.  We'll need to remember to include the compare/bower_components/...  assets when creating the NPM entry.  I will need to update various documentation as well.

[2015-01-30 19:04] garris commented on #26
ok.  I have created an NPM branch with necessary bower dependencies already added in github and I have also instantiated npmjs.com/package/backstopjs.

Let me know if you are ok for creating a pull request with the changes you're proposing.   I think it's best to simply start with a moving to an npm-only install.  After making sure that is solid we can do another release where we add hooks to inst

[2015-01-30 23:53] jehoshua02 commented on #26
@garris I'm excited to see activity in this project. I may or may not have time to submit a pull request this weekend. I will try but I don't want to hold back progress if I can't find the time.

[2015-01-31 01:20] garris commented on #26
No problem at all!  I really appreciate your interest in the project!

You can post here if you decide to pick up the task to let anyone else who is working know.

Best regards!

[2015-01-31 16:40] lewisnyman commented on #22
Sounds good, the only thing I would change is to move the opening brackets of an object to a new line, eg:

[code]

[2015-01-31 16:41] jehoshua02 commented on #22
@lewisnyman I can live with that! In fact, that's typically what I do when working in json.

[2015-01-31 17:37] garris commented on #22
Works for me.

@lewisnyman Maybe since you put in the last change on the config file (already merged to master) you can make this update to the config and update the readme doc?   I would pull that right away and push a new release.

[2015-01-31 21:30] jehoshua02 commented on #26
@garris For npm install, is there anything else to do other than [updating the README.md](https://github.com/garris/BackstopJS/pull/27)?

[2015-02-01 02:00] #26 closed

[2015-02-02 01:55] garris commented on #22
Closed by #29

thanks @jehoshua02 !

[2015-02-02 01:56] #22 closed

[2015-02-02 02:21] garris opened #31 "Looks like we're almost ready to release the NPM install version."
@jehoshua02 @lewisnyman  I think we will want to merge the new work on master into the npm_install branch and validate.   With all the clean up you guys put in I think we could call this 1.0.   Sound like a good next step?

[2015-02-02 02:28] jehoshua02 commented on #31
Before calling it 1.0 I might refactor from a set of gulp tasks into a command line tool.

[2015-02-02 02:29] jehoshua02 commented on #31
But I'm all for releasing a new version for the npm install.

[2015-02-03 05:36] garris commented on #31
@jehoshua02 What are you picturing for a command line tool?

[2015-02-03 07:03] jehoshua02 commented on #31
Start simple with something like this ...

[code]

1. Install backstop and dependencies via npm. I'd like this to install casperjs and phantomjs as well. We'd have to do some kind of magic to make these versions visible within backstop code.
2. Run command to generate `backstop.json` config file in the current directory (`~/projects/myCoolProject`).
3. Run command to capture reference screenshots

[2015-02-03 07:08] jehoshua02 commented on #31
So I'd release the npm only install. Then I'd release the command line interface as 1.0.

[2015-02-03 09:11] lewisnyman commented on #31
Sounds really nice, this would bring it inline with the conventions of a lot of npm-managed tools.

[2015-02-03 21:30] garris commented on #17
Hey Peter,  I just wanted to check in with you.  There has been considerable work done on BackstopJS: updating to an all-NPM install, simplifying the config files, adding custom screenshot events and cleaning up some of the underlying Gulp code.   One of the next items would be the customizable screenshot location -- this is one of the items you had proposed above.

I wanted to see if you had gott

[2015-02-03 21:52] peter-mouland commented on #17
I went a slightly different direction and built this: https://github.com/skyglobal/Sheut

relies on node-canvas and is pain having to install cario...

[2015-02-03 22:05] garris commented on #17
Looks like it's all server side -- that's cool.  Alright then, best of luck with it.    Take care.   GS

[2015-02-03 22:05] #17 closed

[2015-02-03 22:36] garris commented on #31
Yup.  All sounds good to me.

Let's release this as 0.4.0 then.   I can create another branch to merge master and npm_install.   We can test that -- then move that back to master & release.

I think 0.4.0 will open BackstopJS up to more developers who have some async client side stuff they need to test, and the improved config and gulp implementations will make it easier to extend and encourage mo

[2015-02-04 05:17] jehoshua02 commented on #31
@garris

__backstop_files__

I like to keep everything specific to a project with that project so they can be updated and committed together so I have a hard time grasping why anyone would want a central backstop instance. I'm open to it, but I think some healthy scrutiny won't hurt anything.

Backstop could be installed globally, I could create a centralized backstop project somewhere on the syst

[2015-02-04 05:21] jehoshua02 commented on #31
My lean public interface philosophy is influenced by ["Getting Real"](https://gettingreal.37signals.com/toc.php).

[2015-02-04 05:28] jehoshua02 opened #32 "Refactor into a Command Line Tool"
See discussion:

https://github.com/garris/BackstopJS/issues/31#issuecomment-72604270
https://github.com/garris/BackstopJS/issues/31#issuecomment-72792279

1. [ ] Define public interface (commands, file locations, configurations).
2. [ ] Outline refactoring steps to get there.

[2015-02-04 06:02] jehoshua02 commented on #32
@garris Tell me what you think about this ...

__Commands__

+ ./node_modules/.bin/backstop init
+ ./node_modules/.bin/backstop reference
+ ./node_modules/.bin/backstop test

(I'd like to tackle the global install in the next release, which would sweeten up this command syntax.)

__Files__

[code]

__Configurations__

+ Freeze until after command line refactor is done.

[2015-02-05 05:56] garris commented on #32
Hey @jehoshua02 thanks so much for all the effort you're putting into it.  Ill be out of the loop for a few days -- I am completely slammed with obligations for the rest of the week maybe longer.

Quickly tho: there are missing commands. 'gulp echo', 'gulp bless', 'gulp genConfig' and stuff to manually run the server.  Also, there is no need for a report directory.  The only file that changes is r

[2015-02-05 06:09] jehoshua02 commented on #32
@garris No worries. I'm juggling quite a bit myself. Respond when, and only when, you can.

I've updated my spec to include echo, bless, start, stop. Though I was thinking that the html report could be a static app that could be opened in file protocol without the server. Each project would have their own copy of the html report (I'm coming from PHPUnit). We can talk more about it. We can preserve

[2015-02-06 18:19] dendril opened #33 "Docker image?"
Hey!

I'm going to setup this as a docker image for simplicity, if you want I can contrib the basic configuration and documentation.

Just let me know,
Thanks!

[2015-02-06 18:29] garris commented on #33
Hey Awesome!  What's a docker image?

[2015-02-06 21:03] dendril commented on #33
I can't describe it in only one paragraph, please check https://www.docker.com/whatisdocker/

I'll let you know when I finish with the documentation so you can try this by yourself and give me your feedback :smile:

[2015-02-07 18:31] garris commented on #31
I had an hour so I pulled the trigger today.   The contributions widget used an outdated api so that did not make it into this version.   Thanks for your help guys!   Follow up on other topics later.   Cheers.  GS

[2015-02-07 18:31] #31 closed

[2015-02-09 18:26] dendril opened #34 "Version 0.4.0 stop working"
Hey,

I did not review all the changes between 0.3.0 and 0.4.0, but seems the basic command `gulp reference` is throwing:

Does anyone know which could be the problem?

In the meantime, I'm going to continue working with 0.3.0 till I get time to debug this issue.

Thanks!

[2015-02-09 18:59] garris commented on #34
Hi @dendril, thanks for filing this.  The config files are slightly different from version 0.3.0 & 0.4.0 and this could cause the issue.

If you run `gulp genConfig` the app will write a default configuration file at the root of your project.  (Please be careful,  this will overwrite any config existing at that location.)

Then you can try running `gulp reference` and `gulp test`.  It should work

[2015-02-09 19:12] lewisnyman commented on #34
Maybe we could add more useful error messages for people who are caught by
the upgrade?

On Monday, 9 February 2015, Garris <notifications@github.com> wrote:

--
Lewis Nyman
+447753103690
lewisnyman.co.uk <http://www.lewisnyman.co.uk>
@lewisnyman <http://twitter.com/lewisnyman>

[2015-02-09 19:22] garris commented on #34
Yes.  Messaging would be the right way to go.  Just a *'No <paramName> value found.'*  should do it.

[2015-02-10 02:10] garris commented on #34
I just patched this in 0.4.1.  Old config parameters are now mapped to the new ones internally.   This is lowest friction for users.  The old format is deprecated, but on reflection, I think we should go a few releases before breaking everyones tests.

Extra credit is to still add the warning on the console by detecting old configs.

Cheers GS

[2015-02-10 02:10] #34 closed

[2015-02-10 02:10] garris commented on #34
@dendril   Please verify the fix if you get a minute.   Regards.  GS

[2015-02-10 12:38] dendril commented on #34
@garris I was having 2 problems:

1- I'm building a docker image with this project, this means I'm installing everything in a minimal box, and phantomjs depends on libraries which must be present in the system before start using it.
2- The configuration file was slightly different because of the version change.

Thanks for you help!

[2015-02-10 14:39] dendril commented on #33
Hey @garris,

I finally get it working with an small example, please check https://github.com/dendril/docker

Comments are welcome!

[2015-02-10 14:39] #33 closed

[2015-02-10 14:49] dendril opened #36 "Make configurations more flexible"
Hey @garris

I have found 2 problems in my progress of make this project more easy to install using docker:
1. The location of the file `backstop.json` should be configurable using **ENV variables or JSON file**.
2. From my perspective, the server auto-shutdown should be removed completely from the code, we could handle that using a bash script or anything external, no need to force that by defaul

[2015-02-22 16:05] Chapabu opened #38 "Empty markup returned when testing HTTPS pages."
If your configuration is set up to hit a page over HTTPS, then you get the following markup:

[code]

This isn't an issue with BackstopJS exactly, but how PhantomJS handles pages running under HTTPS. Following advice on StackOverflow [here](https://stackoverflow.com/questions/26415188/casperjs-phantomjs-doesnt-load-https-page/26419531#26419531), it can be fixed by passing `--ssl-protocol=tlsv1` in

[2015-02-22 16:35] garris commented on #38
Hi @Chapabu  thank you for filing this and researching the issue!   This suggestion makes sense.  Question tho --  is there any case where we'd need to set ssl-protocol if the url didn't contian `"https://"`?  My guess is no -- and if that guess is correct then my instinct is to handle this internally with a switch on `if (/^https:\/\//.test(url)) {...}`  just prior to the spawn block.   Maybe thi

[2015-02-22 16:50] Chapabu commented on #38
Good call. My only concern with that would be that PhantomJS defaults to SSLv3 (which POODLE kinda borked), so we'd need to allow people to pass in the protocol that should be used. PhantomJS can take one of four arguments for `ssl-protocol` (namely `sslv3`, `sslv2`, `tlsv1`, `any` - [source](http://phantomjs.org/api/command-line.html)), so if we were to guess then there's a 75% chance we'd be wro

[2015-02-22 16:54] Chapabu commented on #38
Actually, I've just checked against Twitter and Facebook, and it appears that passing `any` works fine. So yeah, perhaps checking for `https://` in the url to be tested and just pushing `--ssl-protocol=any` onto the Casper arguments would work fine. That kinda makes things a LOT easier.

[2015-02-22 17:09] Chapabu commented on #38
One last thing (sorry, I keep thinking just after posting my comments - this'll be the last one, I promise). If a site doesn't use HTTPS, then it doesn't even matter what option we pass to Casper/Phantom. We should just be able to _always_ pass `ssl-protocol=any`, and it should work across the board.

[2015-02-22 17:39] garris commented on #38
That sounds great.  Go ahead and add that parameter if you get a chance.  I'm happy to pull that in.  Thanks.

[2015-02-24 09:37] malcomio opened #40 "Testing hover states"
It's common for menus etc to be displayed on hover/focus of certain elements.

Is it possible to include this in tests?

If so, please provide documentation on this.

Maybe I need to read the Casper/Phantom docs...

[2015-02-24 14:49] garris commented on #40
Your hunch is right. You can learn how to do these kinds of tests in the Casper docs.

[2015-02-24 14:50] #40 closed

[2015-02-24 17:40] joe-watkins opened #41 "Work outside /node_modules possible?"
Hello,

I am enjoying backstop.js but would enjoy it even more if we didn't have to work inside the /node_modules/ folder. This folder I do not check into the repository generally.

In a team setting I'd like to be able to simply npm install the module and work with it from the root of the project.. much like most other node modules. This would help for team based development. Is this possible and

[2015-02-24 18:13] garris commented on #41
Yup,  totally totally agree with you.  This is probably number #1 on my wish list at the moment!

Currently screenshots are saved to node_modules -- but it would be way way better to not write anything there at all (obviously).  The reason for that is really about how the tool evolved.  This project wants a proper CLI and assignable resource locations for sure.

But hey, it's completely free -- an

[2015-02-24 19:16] joe-watkins commented on #41
Thanks @garris I appreciate the work you've done here.  Do you feel like this might possible?

1. Create a template paths.js file that has owns project specific paths assigned and house that in the root of the project. This file could be checked into the repo.

2. Have team member copy that file to /node_modules/backstopjs/gulp/utils/paths.js on setup?

I may try something like that... are there a

[2015-02-24 19:53] garris commented on #41
I think it would be more straightforward to add a `global` top-level node to the backstop.json config where any of the internal paths could be overwritten.   That way you simply swap out different config files depending on which project you want to test and resources are managed in one place.

[2015-02-25 14:13] lbineau opened #42 "Allow Click or something else client side"
I would want to add some code to be executed before the screenshot being taken.
I started to to add the following code into the backstop.json
[code]
But I'm stuck with the part of executing code from file and pause the generation process (for a click or something).
[code]

[2015-02-25 16:43] garris commented on #42
Hi @ibineau,  this is a nice feature.

I would create a separate Casper project and get this concept running there first.  Once you have a Casper script evaluating an external JS file in the Casper context you'll be in business.  It should be easy to integrate from there.

Hope that helps -- keep me posted!

Best GS

[2015-02-27 13:03] malcomio commented on #40
This article might be useful: https://helloanselm.com/2014/testing-css-states-with-phantomcss/

Ideally there'd be some documentation on setting up these tests within the backstop.json file.

[2015-02-27 19:44] lewisnyman commented on #40
I wonder if this moves beyond the config-only simplicity of BackstopJS. If you want to test interactions, you need to write scripts, I think a much better tool would be PhantomCSS.

[2015-02-27 20:34] garris commented on #40
@malcomio @lewisnyman Totally completely agree with Lewis on this.  I even mention PhantomCSS as a great tool for that kind of thing in this article... http://davidwalsh.name/visual-regression-testing-angular-applications

That said, I think the interactivity makes sense in some *limited* contexts -- like where you might want to wait-for-and-then-dismiss (e.g. click 'cancel') an email signup popup

[2015-03-03 07:07] garris commented on #38
This was resolved.  Issue only effects older phantom installs.

[2015-03-03 07:07] #38 closed

[2015-03-07 16:19] kyanny opened #44 "Use BackstopJS for login-required pages"
Hi, I think it'd be nice if I can use BackstopJS for login-required pages.
So I tried to add tiny patch for BackstopJS to handle Cookie.
https://github.com/garris/BackstopJS/compare/master...kyanny:addCookie
How do you think? Do you have a plan to support Cookie-based login for BackstopJS?

[2015-03-07 20:19] garris commented on #44
Hi @kyanny,  can you send me an example cookies.js file with a sample config file so I can see how they work together?  Thank you.

[2015-03-07 20:25] garris commented on #36
Hi @dendril, sorry for the delay.

The first item has already been discussed and may happen at some point -- but this is not something currently planned.

The second item could be added as a property in any active config file at some point – again, this is something that is not currently planned.

You are more than welcome to add these enhancements and make a pull request.

Regards,

GS

[2015-03-07 20:25] #36 closed

[2015-03-09 11:05] kyanny commented on #44
Hi @garris

Cookie (secure values are masked): https://gist.github.com/kyanny/4feeb13d450f76a49f49
backstop.json: https://github.com/kyanny/BackstopJS-sample/blob/master/backstop.json

[2015-03-10 11:23] xavhan commented on #11
try [JSCS](http://jscs.info/) for consistency ;)

[2015-03-10 16:47] garris commented on #44
Hi @kyanny, yes I can see that this is very useful in certain cases.  One thing, could you add a config property ('cookiesJsonFile') to the `scenario` node to point to the cookies file?  Then use that value internally instead of hard coding the filename.  This way users can choose where to place their files and BackstopJS won't even try to load a cookies file unless it is specified in the config.

[2015-03-11 05:26] kyanny commented on #44
Hi @garris, sounds very good and all makes sense! I will try and open Pull Request.

[2015-03-13 15:48] jontonsoup commented on #44
+1 cookies would be awesome

[2015-03-13 21:34] ddluc commented on #41
@garris  I created [grunt-backstop](https://github.com/ddluc/grunt-backstop) which provides a work around for this issue.

[2015-03-13 21:55] joe-watkins commented on #41
:thumbsup: on @ddluc 's grunt-backstop works like a charm!

[2015-03-13 22:10] garris commented on #41
@ddluc thats fabulous!  Let me know if I can help out in any way.   I'd love to add a link to your repo on the github page -- do you feel like it's solid enough?

[2015-03-13 22:24] ddluc commented on #41
@garris I'm not a regular grunt user, so I'm still learning proper conventions for building grunt plugins. I think I need to fix some issues regarding the options. Let me fix that first and then I'll give you the green light.

[2015-03-13 23:45] ddluc commented on #41
@garris I pushed version  `0.1.3` to npm which should properly configure the target options and provide defaults. Give it a test run and provide any feedback if things aren't working. If it all checks out with you, feel free to list it on the page.

[2015-03-14 23:41] garris commented on #41
Hi @ddluc,  I'm not going to have as much time as I'd like to give this a good test today.  But I've added the link anyway.   Hopefully I can give it a run next week --  anycase, I think it's great that you contributed. Thanks for the effort!

[2015-03-14 23:41] #41 closed

[2015-03-17 10:08] filipecatraia commented on #44
+1

[2015-03-19 09:44] filipecatraia opened #47 "Scan URLs with less specific rules"
Hey, I thought it might be a good idea to let Backstop scan routes of a website using pattern matching (Regex or simple wildcards). Specifying every single page by hand can be tedious and less maintainable in the future.

What do you think?

[2015-03-23 12:35] matt-newman commented on #2
I know this is a closed issue, but I had this problem and the above steps didn't quite work for me, I had everything installed and running independently, but as I'd installed casperjs a long time ago independently it existed elsewhere on my PATH:

You can work out if you're having the same problem by using:
On windows cmd:

On windows 'bash' (mysys, gitbash, etc):

It's easiest if they're all in t

[2015-03-23 16:35] garris commented on #2
@matt-newman, thanks for posting this.

[2015-03-24 12:01] lewisnyman opened #48 "No mention of reference or test commands in README"
Hello!

I noticed that there are no instructions on how to run the tests in the readme, it looks like they were removed in https://github.com/garris/BackstopJS/commit/b03aa5a04fb551c475ed84b18d4678ccd68b7e09

Is that intentional?

[2015-03-24 13:23] garris commented on #48
Yowsa!  That's a hell of a catch!  That needs a fix immeadiately.    I should be fired for that one...

Thank you very much for catching this @lewisnyman!

[2015-03-24 13:38] garris commented on #48
Ok.  Fixed!    (From my iPad).  Will proofread later...

[2015-03-24 23:13] #48 closed

[2015-03-24 23:13] garris commented on #44
Sorry this is taking so long.   Will absolutely try to get this in this weekend!   Thanks for your patience.

[2015-03-26 17:51] garris commented on #44
@kyanny, Please take a look at the `cookies` branch.  I've added your code and it looks like there is an issue saving the cookies -- the cookie string does not appear in the page.   Please let me know what you come up with.  Thank you.

[2015-03-26 18:17] garris commented on #44
Just occurred to me -- the JSON file is not an array.  Maybe this is the issue.

[2015-04-01 21:00] bassettsj opened #50 "Allow `bitmaps_reference` location to be configurable outside the backstopjs folder"
Would be great to allow this file location to be outside the backstopjs folder if possible. I would like to be able to check in the reference folder without having to do the following in the `.gitignore` file:

[code]

[2015-04-01 21:01] bassettsj commented on #50
If you think this is a good idea, I would be happy to provide a PR.

[2015-04-02 01:37] garris commented on #50
This would be fabulous.  Yes, please send a PR!

[2015-04-02 10:34] rslid opened #51 "Option to control mismatch percent for specific element?"
Hi,

Is there any way to change mismatch percent for specific element from backstop.json file ?

[2015-04-02 13:15] lewisnyman opened #52 "Expose mismatch threshold as a configurable option"
Right now it's possible for subtle regressions to be missed by the reporting tool. This is a shame because the great value in a tool like this is catching regressions that are easily missed by humans.

The default value right now is:
[code]
See #21

[2015-04-02 13:48] garris commented on #44
Hi @kyanny,  did you have a chance to test the cookies feature?   Is it working for you?

[2015-04-02 15:04] garris commented on #52
I know, this is totally worth doing.  I have some time coming up where I could get it done. Will do a pass ping you when I have something to test.   GS

[2015-04-02 15:07] garris commented on #51
Hi @rslid, currently no.  But @lewisnyman has wanted this feature forever and I've just pledged to get it out in the next few weeks.   See #52 .   Thanks.

[2015-04-02 15:07] #51 closed

[2015-04-03 03:00] kyanny commented on #44
Hi @garris, sorry for delay.
Could you show me the exact command line to run test suite?
I read files in test directory carefully, but I'm still not sure how to integrate them to BackstopJS.

[2015-04-03 03:36] garris commented on #44
Thank you @kyanny -- it's no problem.  I have a break coming up in a week -- I will write instructions for running the tests.  I will get back to you as soon as I can.   :)

[2015-04-23 06:24] garris commented on #52
Files merged and bugs fixed.

[2015-04-23 06:24] #52 closed

[2015-04-28 15:56] onaliugo opened #55 "Doesn't work with phantomJS 2.0"
Hello there,

I tried to run `gulp reference` with phantomJS 2.0 installed, and I got
[code]
![capture d ecran 2015-04-28 a 17 54 23](https://cloud.githubusercontent.com/assets/5040476/7373931/beacb5fe-edcf-11e4-9084-3e76c026e36d.png)

Also i tried with phantomJS 1.9.7, and all worked fine
![capture d ecran 2015-04-28 a 17 48 18](https://cloud.githubusercontent.com/assets/5040476/7373966/dcea718c-

[2015-04-28 16:15] garris commented on #55
Hi, please see this CasperJS ticket -- https://github.com/n1k0/casperjs/issues/1150

There *is* a fix but it's not immediately apparent if the fix is in the latest CasperJS release...

What CasperJS version are you running?

[2015-04-28 16:54] onaliugo commented on #55
Hi, thanks for your answer.

Oups, my bad!

[code]

[2015-04-29 00:02] garris commented on #55
No problem.  Cheers.   GS

[2015-04-29 00:02] #55 closed

[2015-05-01 19:16] boriskaiser commented on #50
+1

[2015-05-11 08:24] JohnnyEvo commented on #50
:+1:

[2015-05-12 00:30] dfcarpenter opened #56 "installation issues"
Not sure why I am getting this. Fresh install

[code]

[2015-05-13 10:20] MaikelGG opened #57 "Lazyload and font icons"
It seems like backstopJS cannot process font-icons? I am also struggling with images that are lazy loaded. They are not shown at all (https://github.com/aFarkas/lazysizes).

This is the page I am testing (local): http://ggw-prototype.goalgorilla.com/components/teasers.html (WIP)

Does anyone have a clue how to solve this? I want to keep the markup as close to the production code as possible, for o

[2015-05-15 22:09] garris commented on #56
Hi @dfcarpenter,  This looks like an issue with dtrace which I think is part of the Bunyan install which isn't even needed (just an old package from a previous project).   Does BackstopJS work anyway?  I think it should.   Please let me know -- if it does we should just pull out that package.   thanks for posting the issue!  Garris

[2015-05-15 22:17] garris commented on #57
Hi @MaikelGG, If it is simply a timing issue where the images have not loaded yet you can use the `delay` property.  This is the simplest way to provide extra time for your images to load.   There is also a `readyEvent` you could use to be absolutely sure images are loaded.   There is an article here which goes into some detail on usage ... http://davidwalsh.name/visual-regression-testing-angular-

[2015-05-16 12:49] MaikelGG commented on #57
Hi @garris, thanks for your reply. I have already implemented the delay and readyEvent. The ready event is set to the moment the last JS function has executed on document.ready. However I think the problem might be caused by the fact the the image source is replaced with the srcset attribute, depending on the fact if the image is in the viewport. I think the test cannot determine the image is actu

[2015-05-16 20:00] garris commented on #57
Oh right, sorry, I forgot to address the font icon issue.  That is probably an issue with PhantomJS (which BackstopJS is built on).  PhantomJS has had a well known web-font rendering issue forever. Installing that font on your local machine's OS will solve the issue.  I know that's not ideal, but that is just a limitation at the moment.  There is a new version of phantomjs which I think resolves t

[2015-05-22 23:24] dfcarpenter commented on #56
Thanks a bunch. Also, it does work seem to work.

[2015-05-22 23:36] garris commented on #56
Thanks for following up!   I will pull out that library.   Cheers,  Garris

[2015-05-22 23:37] garris commented on #56
Will close issue after bunyan is removed.

[2015-05-25 22:45] YuliaTsareva opened #59 "Start task fails to restart web server"
On Windows, once stopped, web server is not starting anymore.

I have found that start task use `kill -0 PID` to check if process exists. It results in the error: "Command failed: 'kill' is not recognized as an internal or external command, operable program or batch file." when I run it on Windows machine.

I would suggest use either `process.kill` or npm module https://www.npmjs.com/package/is-ru

[2015-05-26 22:00] s-d-p opened #61 "Using HTTP verbs with snapshot requests"
Is there currently any way to test URLs with, say, a POST request? If not, this could be really handy for a lot of folks. It could also represent a part of the solution to the dynamic data issue. For example, my app loads a bunch of dynamic data that changes often. If I could make a POST request with params, I could pass a stub of static data to ensure the reference and the test are using consiste

[2015-06-15 12:30] YuliaTsareva opened #63 "Zoom images in report"
If screenshot is quite large, it is difficult to understand what has been changed. It would be great to zoom images on click. What do you think?

[2015-06-15 14:15] garris commented on #63
Hi Yulia, yes sure, if you want to have the image open in a new tab I'd be happy to pull that in.  What is your idea?

[2015-06-15 14:24] YuliaTsareva commented on #63
My idea was to open modal dialog with image. Something similar to this: http://dimsemenov.com/plugins/magnific-popup/

[2015-06-15 14:53] #59 closed

[2015-06-15 15:08] YuliaTsareva commented on #50
+1

[2015-06-15 21:19] zverbeta opened #64 "Delete"

[2015-06-15 23:54] garris commented on #63
Hi Yulia, sorry for the delay.  For you, what is the benefit of the pop-up as opposed to a new tab?   Also, I don't think we included jquery in this project.

[2015-06-16 00:29] YuliaTsareva commented on #63
Pop-ups provide smoother user experience because they do not make user to switch between tabs. I also would prefer not to add jquery, but I don't know any library which could do such zooming without jquery.

[2015-06-16 00:52] YuliaTsareva commented on #63
Actually, I've already solved it for myself using lightbox2. It looks exactly as I wanted and solved the problem (well, I need to test it with larger screenshots, but for now it looks quite good).

![bs](https://cloud.githubusercontent.com/assets/8158578/8173582/7cf4aeb2-13d8-11e5-8c54-a24b84a4d10a.png)

In my opinion there are some advantages over new tab:
* user stays in current tab and can open

[2015-06-16 01:40] garris commented on #63
This should be very easy to build.

1) Create a div  for the pop up.  Give class with Position: fixed, centered on screen (e.g. bottom:100px;top:100px;left:100px;right:100px, display:none, **background-size:contain**.

2)  add click handler for report images and set the background-image source to the selected image src value.   Also add a 'show' class which will set display:block on the popup div.

[2015-06-16 11:08] YuliaTsareva commented on #63
Of course, if it as easy as you say, it makes sense.

But won't it stretch images to all available place? I suppose that screenshot should be centered if it is smaller than screen size (not stretched) and should be adjusted to available place if it is larger.

[2015-06-16 14:52] garris commented on #63
Yes, that is correct. `background-size:contain` will only scale down images which are too big to fit.  We would not want images scaled up beyond their native resolution.   All the data you need for display titles and paging through result rows is already available via angular.

If you don't already work with angular you will be glad you took the time to learn it.   Or you could do it jQuery style

[2015-06-16 15:08] YuliaTsareva commented on #63
Actually I work with angular every day :) One more reason why I prefer third-party library is that its quality is more or less guaranteed, no need to test it (by the way, would be great to have more tests).

Well, I understand your point of view and probably will try to do it. Although for now my solution solves my problem.

[2015-06-16 15:19] garris commented on #63
Ok.  Sounds good.  :+1:

[2015-06-16 17:09] asilvadelpozo commented on #50
+1

[2015-06-17 01:32] awongCM opened #65 "screen capture for dynamically generated content"
Hi,

I'm not sure whether this has been addressed or implemented already as part of the feature of backstopjs.  Nevertheless I would raise it otherwise if it hasn't been done.

It would be great to see how you can extend Backstop feature further to capture screenshots for any dynamically generated content such as AJAX calls or animated image/text carousel pages.

Cause what I often find is with th

[2015-06-17 01:40] awongCM opened #66 "change localhost/compare url default auto-shutdown time"
After I run `grunt backstop:test`, I noted this line

    $ grunt backstop:test
    Running "backstop:test" (backstop) task
    .......................................
    .......................................
    .......................................
    Server launched in background with PID: 7448
	NOTE: Sever will auto-shutdown (default time 15 mins). See documentation for more info.

	[11:

[2015-06-17 01:42] garris commented on #65
Are you having a problem with backstopjs taking the screenshot too early?  Please let me know.  Thanks.

[2015-06-17 01:47] garris commented on #66
There is currently a pull request for this feature (adding a flag at the command line).  Just curious, what is your use case for increasing that timeout?

[2015-06-17 03:55] awongCM commented on #65
Hi @garris - somewhat "yes".

I explain to you a scenario.

I have a site that has an animated carousel image gallery on the page.  Let's say I have the following markup:

    <div id="some-carousel" class="carousel slide" >
      <div class="carousel-inner">
         <div class="item">
            <img src="carousel_pic_1.jpg" class="visible-xs" alt="">
         </div>
         <div class="item a

[2015-06-17 04:41] awongCM commented on #66
I haven't actually thought of one till you raised that question in this thread.

I'm just curious to find out is this part of the setup configurable via json file at all? I'm just keen to understand what goes under hood - that's all.

However, I just had a brainstorm about this while we're in discussion.  I want to find out if it is possible to output/download the entire compare report into a spre

[2015-06-17 04:44] garris commented on #65
Just to confirm, Do you want the screenshot to capture at a specific time -- when your carousel gets to some point ?

[2015-06-17 04:48] garris commented on #66
1) After the report runs you should just save the webpage as a PDF.

2) so, it sounds like you don't have a use case for changing server timeout.

[2015-06-17 06:56] awongCM commented on #66
1. Okay.

2. No.  However, I would like to know is it possible to re-access the same report (after it auto-shutdown)  by not having to run `grunt backstop:test` again?

[2015-06-17 06:57] awongCM commented on #65
Precisely.

[2015-06-17 15:00] garris commented on #65
Read this article -- it is a tutorial for BackstopJS testing on client side apps with async behaviors.  The example is an Angular app but the principle is the same...
http://davidwalsh.name/visual-regression-testing-angular-applications

[2015-06-18 00:41] awongCM commented on #65
Thanks @garris - Makes sense.  I get the point.

Wonder how I should incorporate this principle into vendor's complex animation jquery plugin...

But it's doable.

Cheers for that.

[2015-06-18 02:22] garris commented on #65
Great.  Most plugins have some kind of callback for that kind of thing.   (E.g. carousel.onNext( yourFn(nextObjData ) )

FWIW: This slider probably won't suit your needs -- but it is cool... TremulaJS.org

[2015-06-18 21:13] YuliaTsareva commented on #66
You can open the same report with `gulp report` command.

[2015-06-18 21:56] garris commented on #66
@YuliaTsareva  Thanks for answering this!

Also FWIW:  When I work with a team my workflow is usually to:
1) run the report
2) print to PDF then make notes on that PDF file  (sometimes I just cut and paste a particular image)
3) email the marked up file ... repeat back to 1 as much as necessary.

4) file a clean report with my release notes.

This is pretty good for small teams because I usually h

[2015-06-19 21:50] #11 closed

[2015-06-22 00:30] awongCM commented on #66
Thanks guys.

@YuliaTsareva - Though you could also technically write a wrapper function for grunt to execute `gulp report` as well.

That would be nice.

Cause I don't have to navigate the bower components folder every time to do this.  Can stay within the root folder.

[2015-06-23 07:15] awongCM opened #71 "are all CSS selectors that can be used in backstop.json file?"
For eg `+`, `>`, '~'.

I tried using these and I found none of them are actually working.

[2015-06-23 13:52] garris commented on #71
This depends on phantomJS.  See http://phantomjs.org/

[2015-06-24 09:21] YuliaTsareva commented on #71
@awongCM @garris Actually, such selectors should work. I tried to add `p.version+div`, `div>p.version` and `p~p` to example backstop.json and everything was OK.

@awongCM Can you show example of selector which doesn't work for you?

[2015-07-01 14:16] relhtml opened #72 "Scenario urls: Crawl a set list of pages behind a login"
Is it possible to have BackStop crawl a set of pages rather than having to handcode each individual scenario?

Here's the code that defines a scenario in BackStop:

  "scenarios": [
    {
      "label": "http://getbootstrap.com",
      "url": "http://getbootstrap.com",
      "hideSelectors": [],
      "removeSelectors": [
        "#carbonads-container"
      ],
   .....

Is it possible to pass in

[2015-07-01 16:01] garris commented on #72
Hi @relhtml -- this is a nice feature idea!  I recently received another request where a developer was hoping to assign a RexEx value to the url property -- which is also a good way to implement this.  Sadly, neither would work at the moment.  But... I think this would be an easy enough feature to create -- and the good news is that one would need very little knowledge of BackstopJS internals -- i

[2015-07-06 20:33] rossPatton opened #73 "font rendering issues?"
I'm curious to see if anyone else is having trouble getting fonts to render correctly in their screenshots.

I initially thought my problem was that I async everything (async typekit embed, loadCSS for everything else), so I added a readyEvent and a long delay. This appeared to fire correctly (as far as I can tell) but didn't fix the issue of fonts not rendering properly.

So as a test I went and

[2015-07-06 21:33] jghazally opened #74 "Ability to use Slimerjs?"
Is there a way to use slimerjs? in the casper options?

[2015-07-06 21:34] jghazally commented on #74
sorry wrong window~

[2015-07-07 00:11] garris commented on #73
This is a common issue with phantomJS.  Please see https://github.com/ariya/phantomjs/issues/10592 for possible workarounds / status of fixes / new version release.

[2015-07-07 00:12] garris commented on #74
In theory, yes. It would take some effort -- but it can probably be done.

[2015-07-07 22:05] jghazally commented on #74
Yea thought it would be easy (I was trying to add `--engine=slimerjs` to the casperArgs variable in test.js but that didnt seem to work. If you have suggestions / can point me in the right directions I may have another crack at a pull request..

[2015-07-07 22:23] garris commented on #74
Sure.   My first question would be, have you already successfully prototyped taking a screenshot with a plain implementation of casper.js using slimerjs?

[2015-07-17 21:24] Skoks opened #76 "BackstopJS git workflow"
Hello guys,

Super cool and useful project :+1:

Can you share the most efficient way for adding `bitmaps_reference` folder in version control.

[2015-07-17 21:30] garris commented on #76
There have been a few requests to make the location of `bitmaps_reference` configurable -- however it is only hardwired at the moment.   In this case you could copy that directory somewhere it would be picked up by your versioning system after running `gulp reference`.

[2015-07-17 21:43] Skoks commented on #76
Gotcha, thanks

[2015-07-20 06:28] awongCM commented on #71
Hi @YuliaTsareva,

Sorry for late reply.

There's a client site at work that I'm working on, and I'm struggling to get the correct css selector to get  screenshot by backstopjs cause it's html markup content looks unusual.  Due to the type of nature of work I'm doing, I rather not have this discussed this on a public forum such as this.  Can I send you a PM to discuss further?

[2015-07-22 14:36] #76 closed

[2015-07-24 11:19] vitto opened #78 "Should the reference images be committed on the repo?"
Hoping to write this question in the right place:

I'm trying to work with BackstopJS and understanding how it should be used at it's best without misunderstood some point of the regression testing workflow.

I've installed BacktopJS, made some test to see if it's working and it works nice.

Now I'm on a team of back-end developers which can make front-end changes and I would learn if I should com

[2015-07-24 16:41] garris commented on #78
Hi @vitto, thanks for posting, and yes, this is a good place to ask questions.

There is a feature in development which will save the reference images in parallel with the backstop.json file or allow you to specify where you want the files saved.  When this is completed, you would be able to easily commit those images with the rest of your source files and not have to worry about clobbering the re

[2015-07-27 12:54] vitto commented on #78
Thank you for the reply!
bye

[2015-07-27 12:54] #78 closed

[2015-07-28 13:06] ArmorDarks commented on #32
+1 for such refactoring.

I really hope that Gulp or Grunt versions would be implemented by independent tasks instead of being build on top of Gulp.

[2015-07-28 13:47] oadam opened #79 "Accept YAML configuration"
YAML has a [couple of advantages over JSON](http://stackoverflow.com/a/1729545/436792).

The main selling point for me is the ability to comment out most of my `viewports` when I want to use backstopjs for a quick sanity-check.

I think the best would be that the app works if there is a `backstop.yaml` file in lieu of a `backstop.json`.

It doesn't look like a big change. If nobody has time to all

[2015-07-30 13:46] aixellent opened #80 "Is it possible to see old report comparisons or even archive them"
Hi i want to use backstopJS for company development use and i am interested in some tasks which are partially answered here.

At first i think i would be good if the folders for bitmap references and tests can be directed to a user customized folder in the customer-project-folder with using a "config.json" in which the directory of the backstop.json file for defining tests can be set too. I hope t

[2015-07-30 16:51] garris commented on #80
@aixellent Thank you for posting.  I will be adding the ability to change the location of the reference and test files within the next week.   Would you be interested in beta testing the new version?

[2015-07-30 18:16] aixellent commented on #80
For sure I am, as I said I am just trying to automatically test new
implementations of our gui and verify them to different resolutions.
Tracking would be very great benefit.
Thanks for this tool

Garris <notifications@github.com> schrieb am Do., 30. Juli 2015 18:51:

[2015-08-04 08:54] oadam commented on #79
Hi @garris,

What is your opinion on this ?
Do you think it's worth integrating YAML parsing into backstop or should I keep the YAML -> JSON conversion as a separate step in my build process ?

Thanks,
Olivier

[2015-08-04 22:20] garris commented on #79
Hi Oliver, sorry for the delayed response.  I appreciate the suggestion, but I would rather see effort put into some rudimentary config manager (web UI to select named config) or config editor (web UI to parse and edit config file in place) as opposed going the yaml route.  The config file is touched in a few places and adding yaml support might be more time consuming than you and I would hope.

[2015-08-05 17:41] garris commented on #80
The new version: 0.6.0 Beta is available.

[go here to install...](https://github.com/garris/BackstopJS#version-060-beta-available-now)

[2015-08-09 11:40] sillylogger commented on #74
I have, screenshots w/casper using slimerjs work fine.. If you have slimerjs installed on your system and in the path you can add `'--engine=slimerjs'` to https://github.com/garris/BackstopJS/blob/master/gulp/tasks/test.js#L48
and it'll run with slimerjs.  Works fine for me.  Would be nice for this to be an argument / option to backstop... when I get sometime :-)

[2015-08-09 13:50] garris commented on #74
Hey Nice.  Will give this a shot.  Thanks!

[2015-08-13 16:30] axe312ger commented on #74
Just tested it also. It works sooo nice! I love slimerjs!

Update your global casperjs and install slimerjs. Add ```--engine=slimerjs``` like @sillylogger mentioned and see it running :)

[2015-08-13 17:48] garris commented on #74
Wooyeah, that was pretty nice.

Does anyone know how slimerjs is with web fonts?   That's a pretty big issue with phantomjs ATM.

Also, any opinions on an { "engine": "slimerjs"} switch in the backstop.json config?  Seems that and some documentation would be a nice feature.  Yes?

[2015-08-13 18:40] axe312ger commented on #74
Casperjs falls back to phantomjs when slimerjs is not available. So you might just add the parameter and tell the user in the readme that it is his decision which one to use.

I had a lot of troubles with flexbox. Slimerjs was a relief. Since slimerjs uses a more up to date gecko engine, there should be no problems with webfonts :)

[2015-08-18 13:44] axe312ger opened #81 "Testing invisible elements should not result in a screenshot of the whole page"
One of my selectors defines an element, which is not visible for smaller viewports. BackstopJS accidentally now takes a screenshot of the whole page.

I think it should just do not create a screenshot, what do you think?

[2015-08-18 13:52] axe312ger opened #82 "BackstopJS's result comparision does currently not work [with workaround]"
I was just wondering why the tests do not fail, since I made major changes in the stylesheets.

It uses a copy of the references to compare them with the references. Yes, that makes no sence. We may just remove that useless copy and tell angular to compare the jpegs from within the subfolders?
I did not look into the code in detail, just doing some assumptions)

Workaround: Just go into your test

[2015-08-18 14:25] garris commented on #82
What version are you running?

[2015-08-18 14:28] axe312ger commented on #82
I am currently on 8a40bdadaf3631fc86c6d623bc0ed7c82cd42b86 but have to admit that my backstop.json is lacking the ```config.paths``` array

[2015-08-18 14:40] garris commented on #82
Ok. Then you have found a bug.  I added a compatibility feature.  Config files without a paths node are handled differently.  Sounds like the cp function is failing.  Perhaps missing an overwrite flag.   I will take a look at this now.   Thank you for finding this!

[2015-08-18 14:41] axe312ger commented on #82
:+1:

[2015-08-18 14:42] garris commented on #81
Agree.  Are you using slimerjs?

[2015-08-18 16:13] axe312ger commented on #81
Yes I am :)

[2015-08-19 19:28] garris commented on #82
fix pushed to master.  Please verify...  thanks!

[2015-08-19 19:46] garris commented on #82
ok, found another issue.   still working on it.

[2015-08-19 19:55] garris commented on #82
Ok.  Please verify.   Thank you.   -GS

[2015-08-19 22:19] axe312ger commented on #82
Nope sorry, still looks like the server is not serving the correct files.

What i found also:
It looks like the slugging for the filenames does not work as expected. Selectors like “body > div.foo” do not work. The files are not slugged correctly and angular requests wrong urls.

I’d go for the slug node lib, otherwise these regex help for me at the moment: https://github.com/axe312ger/BackstopJS/

[2015-08-20 00:08] garris commented on #82
I just retested the patch and it seems to work over here -- both with and without a path node.   This is the latest 8de6847 -- could you maybe pull into a fresh repo and see if you can duplicate the issue?

[2015-08-20 15:19] axe312ger commented on #82
Nice! Somehow I was on the wrong commit after merging yesterday night. It works. Thx!

[2015-08-20 15:19] #82 closed

[2015-08-20 17:06] axe312ger commented on #81
When the element does not exist at all, backstopjs takes (correctly) no screenshot of it. But this breaks the report server, it does not run through.

Can you catch that case?
When one or more files for the comparision are not available, set test to a new "error" mode and display some kind of message: "files missing". Also a timeout would be nice, 30 sec for example. Even the possibility to run 2

[2015-08-21 00:20] garris commented on #81
In the first post you have an issue with an existing but *display: none* DOM element. I guess in a perfect world I would want a png file with zero pixels as the output from the rendering engine.  And I would expect BackstopJS to tell me that this element exists but is not in the layout flow.

I think there is a difference between how PhantomJS and SlimerJS handle these conditions.  It would be nic

[2015-08-21 00:44] garris commented on #81
More thoughts here:

For display:none cases we should write a PNG file with a no-display icon.  e.g. Glasses with diagonal line / strike through.

For missing element, maybe a droptag with a horizontal line / strike through.

This will keep output in sync with the config files and correctly report on visual state changes with No changes to our report code.

[2015-08-21 00:49] garris commented on #74
Slimerjs support is added in version 0.6.2 now in master along with updated documentation.

Could someone please verify that this is working?

Much appreciated!

[2015-08-21 14:56] axe312ger commented on #81
Sounds like a good plan. Also keeps the changes minimal. Everything else might end up in a (in)complete rewrite of a lot of code :+1:

[2015-08-24 05:21] yargalot opened #83 "Blank Reference Images"
Yo,

Running through using the library on one of our projects, seems to be working pretty well but we are having issues with generating reference issues, it will generate images fine up until a point but then the images will be generated blank.

Screenshot is attached, any help would be greatly appreciated.

Thanks,
Steve
<img width="1010" alt="screenshot 2015-08-24 15 20 33" src="https://cloud.gi

[2015-08-24 20:01] garris commented on #83
@yargalot Are you certain that the elements exist at the time of the screen grab? Another issue could be the style properties, e.g. display:none, opacity:0?

[2015-08-24 21:25] oadam commented on #79
Sorry I was in vacation.
Your answer makes sense. I'll close this
Cheers,

[2015-08-24 21:25] #79 closed

[2015-08-25 00:00] yargalot commented on #83
Yeh absolutely sure they exist since its getting the first few

[2015-08-25 00:02] yargalot commented on #83
But let me double check, might be a viewport thing

[2015-08-25 00:08] garris commented on #83
Yup, they may be set as display:none (or something like that) at certain screen sizes.  Let me know.

[2015-08-25 00:18] yargalot commented on #83
Hah, yep your right, some Nufftie put overflow:hidden on the html element.  Thanks for the help! Much Appreciated!

[2015-08-25 00:18] #83 closed

[2015-08-25 00:20] yargalot commented on #83
Oh thanks the library btw, works like a charm :+1:

[2015-08-25 00:55] garris commented on #83
Great to hear!  Best.  -GS

[2015-08-25 07:42] aixellent commented on #80
Hi and thanks i will have a look on this, i totally missed it up to now because i had to handle a lot of CasperJS tests in our company.
Thanks in advice

[2015-08-25 19:43] #64 closed

[2015-08-27 09:01] sillylogger commented on #74
Working just fine.. would be nice to get a test suite running for this project... maybe sometime this weekend.

[2015-08-27 17:33] garris commented on #74
@sillylogger  Thanks for the confirmation!

[2015-08-28 10:36] Archiolidius opened #84 "Could someone publish version 0.6.0+ to npm?"
The latest version in npm is 0.5.1, could someone publish version 0.6.0+?

[2015-08-28 10:37] axe312ger commented on #84
I think its not enough tested yet. You can just do:

```npm install git@github.com:garris/BackstopJS.git#3c81dfdb20352483a7b7fa7f47d7b08debe245de```

[2015-08-28 10:54] Archiolidius commented on #84
Ok, what do you think, when you will be able to publish 0.6.0 version?

[2015-08-28 10:55] axe312ger commented on #84
Its the decision of @garris and I know that he is pretty busy with customer projects. Just use that pinned commit as your npm dependency. You can easily change that back to "~0.6.0" later on ;)

[2015-08-28 10:56] Archiolidius commented on #84
ok, thanks!

[2015-08-28 10:56] #84 closed

[2015-08-29 03:50] garris commented on #84
@axe312ger Thanks for answering that.  Was traveling today.

@Archiolidius, we will release v0.6.+ soon. Thanks for posting.

[2015-09-01 07:20] kamlesh-astech commented on #80
Sir, Now does this beta version works in archieving the references, or is still under development.

[2015-09-01 10:54] dewjay opened #85 "BackstopJS report often failed"
Why my BackstopJS Report often failed (not match), Though there is difference between reference and test
![screenshot from 2015-09-01 17 54 17](https://cloud.githubusercontent.com/assets/10543750/9602389/48bb2e32-50d2-11e5-9ad7-f5bc4ca57216.png)

here's the report
[code]

[2015-09-01 11:56] kamlesh-astech opened #86 "generating gulp reference at a particular interval"
I'm using backstopjs for visual testing while developing my project, After adding new pages to the project i always have to generate reference image right from the first page till the last one.
I dont want this generation of reference images from the startup. I only want to generate reference of the new page that is being added to the configs.
Plz help to figure it out.

Example:
this is my config

[2015-09-01 14:19] garris commented on #86
Thanks for posting -- this feature is in development for a future release.

There is a pretty simple workaround though. After running a test you can literally drag any test image from the report into the actual reference image folder.  This will replace the reference version for subsequent tests.

Let me know if that works for you.

[2015-09-01 14:58] garris commented on #86
Apologies, I just realized I misunderstood your question.

In the case of adding new tests or selectors the workaround is a little less elegant but is still simple and effective.  Here goes...

1.  Locate your reference files directory and copy it to a temporary location.

2. Update your config file appending any new tests or selectors **to the end** of their respective branch arrays.

3. Run `gul

[2015-09-01 15:12] garris commented on #85
here `"misMatchPercentage": "1.78"`  is greater than `Threshold: 1.5 `.   Increase the threshold value in your backstop.json file and the difference will be ignored.

[2015-09-01 15:13] garris commented on #85
Sorry, closed by accident.  Please let me know if that fixes your issue.

[2015-09-02 05:29] kamlesh-astech commented on #86
HI, @garris
Temperorily this is an good solution.
But, this wont be helpful while working on bigger projects.
Hope u soon may find an automated process for this functionality also.
Thank You !!!!

[2015-09-02 12:11] Archiolidius opened #87 "Specify path for the backstop.json config file"
Is it possible to specify path for the backstop.json config file?

[2015-09-03 06:00] kamlesh-astech opened #88 "Customize the file name of reference image"
Hi, @garris

Presently the reference image which are generated are sorted / named by following the numeric prefixes.
I want to name the images following the test name or custom title instead of numeric prefixes..
PLz help in customizing the file name

[2015-09-03 06:09] kamlesh-astech commented on #65
An additional further point to this conversation.
How can we check bootstrap modal, alerts, tabs or an item in an bxslider.
using backstop.
It would be very helpful if you explain with an example related to any of the tags that i have added

[2015-09-03 12:57] klausbayrhammer commented on #87
+1

[2015-09-03 13:56] garris commented on #87
The short answer is no.  You can specify locations of the screenshots (as of v6.0) but that's about it.  If this were to be enabled how would you expect it to be implemented?

[2015-09-04 06:50] klausbayrhammer commented on #87
Probably as parameter you pass to the gulp tasks? Or even better as a property in the `package.json`?

[2015-09-04 15:51] garris commented on #87
Oh right, that _would_ be pretty useful.  I owe the project a new roadmap.  I will add this feature to it.

[2015-09-05 07:56] klausbayrhammer commented on #87
If you let me know which way you prefer I'd be happy to contribute a PR

[2015-09-05 19:17] garris commented on #87
That would be fabulous.

I like command line approach because it provides a very universal API -- without any specialized knowledge about how gulp works.

I think you would only need to modify paths.js to make this work...

https://github.com/garris/BackstopJS/blob/master/gulp/util/paths.js

You would want to check for a supplied path parameter, if one exists check for a valid file, and if that ex

[2015-09-10 07:05] klausbayrhammer opened #90 "Add an explicit gulp task to compare images"
We are currently trying to integrate backstop tests into our CI/CD pipeline but the problem is that I currently don't see a way to pass the results of a backstop test to the gulp task (or the caller).

Is it correct that the comparison of reference and test images in done on the fly in `compare.js#compareTestPair`? What we'd require is a gulp task (or some kind of CLI) to explicitly trigger the im

[2015-09-10 07:45] klausbayrhammer commented on #90
The following snippet could probably solve the problem. @garris if you think this is going in the right direction I'd clean the things up and provide a PR.

[code]

[2015-09-10 14:39] garris commented on #88
the file names are required. If you need to rename these for a different purpose you should just create a different gulp task which renames as needed.

[2015-09-10 14:39] #88 closed

[2015-09-10 14:39] #86 closed

[2015-09-10 14:40] #85 closed

[2015-09-10 14:40] #80 closed

[2015-09-10 14:40] #74 closed

[2015-09-10 14:43] garris commented on #57
BackstopJS now supports SlimerJS so webfonts can be more reliably rendered.

[2015-09-10 14:43] #57 closed

[2015-09-10 14:43] #24 closed

[2015-09-10 14:45] #56 closed

[2015-09-10 14:45] garris commented on #56
Removed.

[2015-09-10 14:46] garris commented on #50
This was added in 0.6.2.  Cheers.

[2015-09-10 14:46] #50 closed

[2015-09-10 14:47] #65 closed

[2015-09-10 14:48] garris commented on #66
Timeout was added in latest release.

[2015-09-10 14:48] #66 closed

[2015-09-10 14:49] #71 closed

[2015-09-10 14:50] garris commented on #73
SlimerJS support added in latest release.

[2015-09-10 14:50] #73 closed

[2015-09-10 14:59] garris commented on #90
@klausbayrhammer this looks like a great solution/feature.  Would this behavior be compatible with the SlimerJS engine option?  Would this be an option that runs in addition to / independent of the in-browser reporting process?

[2015-09-11 07:06] klausbayrhammer commented on #90
I'm not sure if this works in all environments but we are running the backstop tests/image comparisons in a centos container with slimer installed and it works for us.

For now I'd rather provide this task as an independent addition, so we don't have any trouble when it comes to backwards compability.

Another idea came across my mind lately. With this feature we don't have to rely on any canvas/b

[2015-09-11 15:32] garris commented on #90
Yes, that would open the entire project up to devs needing a server centric solution.  I think it's all a great idea.  It doesn't seem all that hard to implement at this point either.

I completely support it -- let me know how I can help!

[2015-09-15 14:20] klausbayrhammer opened #92 "Add Phantom/Slimer CLI arguments to backstop.json config"
We currently use backstop (with slimer) behind a proxy. There are CLI arguments in casper to control the proxy config but I haven't found a way to pass these parameters from backstop to casper and slimer. A sample casperjs call would be:
`casperjs --engine=slimerjs --proxy-type=http --proxy=proxyIp:port --proxy-auth=user:pass casperScript.js`

Is there a way to specify these proxy parameters (or e

[2015-09-15 16:31] garris commented on #92
@klausbayrhammer short answer is no.  To add this I would add the flags as an arbitrary set of properties on a new node in the config, e.g. `casperFlags: {engine: "slimerjs", proxyType: "http", ... }`

These can be pushed onto the argument stack in the same way that the `engine` property is currently implemented.  The existing engine property would need to be deprecated (or perhaps just be overrid

[2015-09-16 23:17] marciovicente commented on #47
:+1: +1

[2015-09-22 01:34] garris commented on #90
Merged to master.

[2015-09-22 01:46] garris commented on #61
Sorry for the delay in responding -- this issue somehow fell through the cracks.  Yes, this would probably be a useful feature.  We don't have the ability to do this with the current implementation but it would be fairly easy to do.  Please let me know if you'd like to contribute a PR.  Regards.

[2015-09-22 05:59] garris opened #94 "feature request: selctor-based link crawling"
A `"crawlSelectors": []` property will be added to each scenario in the backstop.json config file.  For each matching crawlSelector, a collection of matching elements will be returned.  For each matching element the original URL will be reloaded and the current element index will receive a click event. The resulting page or state will be loaded and tested.

Selectors are followed to a depth of 1.

[2015-09-22 06:03] garris commented on #72
closed by #94

[2015-09-22 06:03] #72 closed

[2015-09-22 06:05] garris commented on #47
addressed by enhancement RFC #94

[2015-09-22 06:05] #47 closed

[2015-09-22 06:07] garris commented on #42
request moved to feature RFC #94

[2015-09-22 06:07] #42 closed

[2015-09-22 06:24] garris opened #95 "add button to “promote” any selector test"
Add the ability to “promote” any _test_ screen capture, e.g. add a "promote” button to each test screenshot on the report -- clicking the button promotes the selected changes to a reference image.

Reference files would then be updated on a selector by selector basis (without having to run an entirely new reference pass).

[2015-09-22 06:29] garris opened #96 "recent report enhancement requests"
* Fixed headers for the report
* more filters. by url, viewport, subset
* retrogressing of all/some tests

[2015-09-22 06:42] garris opened #97 "missing selectors should be explicitly handled"
Reported by @axe312ger.

Fix would be to add a selector check here https://github.com/garris/BackstopJS/blob/master/capture/genBitmaps.js#L142.

For display:none cases we should reference a no-display icon. e.g. Glasses with diagonal line / strike through.   display:none cases to be addressed in separate issue.

For missing element, we should reference a droptag icon with a horizontal line / strik

[2015-09-22 06:43] garris commented on #81
moved to #97

[2015-09-22 06:43] #81 closed

[2015-09-22 06:49] garris commented on #97
Selector check and reference substitutions can be made here... https://github.com/garris/BackstopJS/blob/master/capture/genBitmaps.js#L142

[2015-09-22 09:05] axe312ger commented on #97
Also added a check to remove - on the first position of the filename

https://github.com/axe312ger/BackstopJS/blob/master/capture/genBitmaps.js#L178

[2015-10-01 04:03] #97 closed

[2015-10-01 04:16] garris opened #99 "invisible selectors should be explicitly handled"
Invisible selectors matching `casper.visible(selector) === false ` (e.g. display:none cases) we should reference a no-display icon. e.g. Glasses with diagonal line / strike through.

Replacing the screenshot with an explicit icon file would normalize behavior differences between phantom and slimer.

That switch would go right here...
https://github.com/garris/BackstopJS/blob/master/capture/genBitm

[2015-10-01 15:27] garris opened #100 "Add a watch command"
Add gulp-watch to the project and add an explicit watch command. include a `watchPath` property in the config which conforms to a gulp-watch glob.  If no watchPath property is set it should maybe default to project root with exceptions for common files and directories e.g. `node_modules` `bower_components` `dist` `vendor` `build` `bower.json` `package.json` or invisible files & directories.

[2015-10-02 08:28] #99 closed

[2015-10-08 15:21] klausbayrhammer commented on #90
Thanks for merging the PR. As of yet the gulp task doesn't fail when comparing the images fail. Since we execute our tests on a CI server we'd really appreciate if the gulp task would fail as a default. @garris what do you think about it?

[2015-10-08 15:36] garris commented on #90
Yes -- was thinking the same thing.

Maybe this line would do what you need...
https://github.com/garris/BackstopJS/blob/master/gulp/tasks/compare.js#L28

You could try uncommenting that and see if it fails in the right way.  If it does, I propose we add a switch to the config to enable/disable fail passing back up to Gulp.

Let me know what you think.

[2015-10-14 19:40] ivanmayes opened #101 "Add support for label-based filenames"
Would be great to have the filenames use the label property so thats its easy to clearly see what scenario the file is for.

[2015-10-14 23:40] garris commented on #101
Would pull that.  Should be placed after the ordering indexes but before the selector string.  Maybe need to guard filename length.

[2015-10-15 15:23] sanchothefat opened #102 "Feature: Ability to run casperjs code linked from a scenario"
I can have a stab at this but Casperjs / Phantomjs are pretty new to me.

My thinking is that where we define a scenario you could reference a casperjs file to run when the readyEvent / delay have happened eg:

[code]

Offers full flexibility for those who want to go a bit deeper. I'm looking into the `test.js` to see where / if this could work but any thoughts in the meantime on the idea would be

[2015-10-15 15:49] garris commented on #102
Hi @sanchothefat.  Thanks for looking into this.  This is a feature that has been requested before.   Here are some comments/ideas...

- maybe change `onReadyEvent` to `onReadyScript` -- just to make it clear that we are linking to a file.

- the ready event handler you are looking for is here...
https://github.com/garris/BackstopJS/blob/master/capture/genBitmaps.js#L97

- in that spot you would p

[2015-10-15 15:58] sanchothefat commented on #102
Awesome, thanks @garris - this is a great place to start. Agreed on your first point, the naming is much clearer, I momentarily forgot it was a json file, no functions :)

#94 looks interesting too. Perhaps a prepackaged script and `scenario.onReadyScript` can be an array. Something along those lines. I'll have a play.

[2015-10-15 19:11] garris commented on #102
@sanchothefat this is nice work!  But I am a little concerned that an array of scripts is overcomplicated.  I think the use case is likely to be more simple for most users.   For the minority of users who need multiple file support they can always concat those things in gulp or grunt exactly how they like.   This would reduce complexity on the BackstopJS side -- reading files and handling errors w

[2015-10-15 21:14] sanchothefat commented on #102
@garris thanks! Re. the array part I see your point - the scripts themselves can do any requiring of other scripts if necessary.

For the test scenario can you point me in the right direction where to add that? Add an example to the `test` folder code or just to the `config.default.json`?

I'll update the readme too.

[2015-10-15 21:29] garris commented on #102
yup.  great!  for the test it is very informal.  just create a directory in the `test` folder (maybe call it `onReadyScript`) and drop anything in there that we would need to test this feature -- that would include a backstop.json file and your casper script (and any test html file if you are not using something at a live URL). create any scenarios in there that would test your feature.   Just som

[2015-10-16 11:42] sanchothefat commented on #102
@garris think that's it, let me know if there's anything else you need. Took me a while to figure out jquery doesn't load on the bootstrap page so there's a debug option now to optionally enable the `casper.on('page.error')` stuff.

[2015-10-19 08:20] klausbayrhammer commented on #90
Yes that's exactly what I was looking for! Probably we could add a `--dry-run` flag which supports the current (non failing) behaviour? If that's ok for you I'd send you a PR.

[2015-10-19 14:14] CreativPixel opened #105 "Using attribute selectors on Windows breaks things"
When i try to use attribute selectors like :hover, :nth-child(2) etc. files can't be saved to my disk, so the tests won't work.
I guess it can't generate files with names like subnav_level1_li:first-child_a:hover.png.
Any way to work around this? Maybe by providing a custom filename possibility or label?

[2015-10-19 14:44] garris commented on #90
Great -- glad that works!

I am inclined to adding that flag to the config file as opposed to passing on the command line.  (Although I would be totally fine with a command-line override) Does that pose any problems for your use-case?

Also I am a inclined to cast the feature as an opt-in (not default behavior).  E.g. Flag name: `cliExitOnFail` or `cliThrowOnFail` or `cliHardFail`

The reason for

[2015-10-19 14:51] garris commented on #105
What OS are you on?  `:nth-child(n)` has workd pretty reliably in the past.  Please let me know.  Thanks!

[2015-10-19 14:56] garris commented on #105
Sorry, I should say, which *version* are you on.  I haven't gotten this bug from other Windows in the past -- but it's never to late!   Do you know which character breaks the file write?  We can escape that internally.  Again, please let me know.

[2015-10-19 14:56] sanchothefat commented on #102
And it's merged! Thanks :)

[2015-10-19 14:56] #102 closed

[2015-10-19 14:57] CreativPixel commented on #105
I am using Windows 10 pro, 64 bit version.
Other than this issue the rest is working flawlessly.
Op 19 okt. 2015 16:51 schreef "Garris" <notifications@github.com>:

[2015-10-19 15:04] garris commented on #105
One question. Can you try deleting your `backstop.json` file and running the default test?   Please let me know if that is also broken on your windows machine.

[2015-10-20 06:40] CreativPixel commented on #105
The default config is also broken. This is my output in the console:
-----------------------------------------------------------------------------
D:\php\insyde\einstein\bower_components\BackstopJS>gulp reference

Could not find a valid config file.

To run your own tests create a config here...
 ==> D:\php\insyde\einstein\backstop.json

Run `$ gulp genConfig` to generate a config template file in

[2015-10-20 06:51] garris commented on #105
Perfect, thanks.  I will see if I can get a patch for this tomorrow.

[2015-10-20 06:53] CreativPixel commented on #105
Superb, thanks for the quick reply!

On Tue, Oct 20, 2015 at 8:51 AM, Garris <notifications@github.com> wrote:

[2015-10-20 08:42] garris commented on #105
Yup...  https://msdn.microsoft.com/en-us/library/windows/desktop/aa365247(v=vs.85).aspx

[code]

[2015-10-20 09:29] CreativPixel commented on #105
Woohoo, that fixed it for me. Many thanks!

[2015-10-20 11:07] klausbayrhammer commented on #90
I really like specifying a `cliExitOnFail` in the config file. That's the best approach by far and would work perfect for me!

[2015-10-20 13:12] jkopcsek opened #106 "onReadyScript under windows fails"
Hi,

i'm trying to get the onReadyScripts to run under Windows and it just doesn't work. I reinstalled gulp, casper, phantom and backstopjs. Everything works great except the scripts. If I set an invalid script path I get the invalid path error. If i do genConfig and reference I get the error "Can't find module ../../backstop_data/casper_scripts/onReady.js".

Do you have any idea what i might be d

[2015-10-20 13:56] garris commented on #106
@jkopcsek so sorry about this.  The beta went out a little too early.  I will try to patch this today.   Thanks for the bug report!

[2015-10-20 14:13] jkopcsek commented on #106
No problem :-)

Also, while you are at it, i'm getting
[code]
when using the debug option. Had to change 'this.echo' to 'casper.echo'.

[2015-10-20 16:14] garris commented on #90
Awesome.  I am trying to get the next release out this week so I can take care of this at the same time -- it's a pretty easy one.

[2015-10-20 17:46] garris commented on #105
Awesome.

[2015-10-20 17:46] #105 closed

[2015-10-20 17:48] garris commented on #106
Ok -- I think we're doing better.  Please give it another try and let me know how it went.  Thanks!

[2015-10-20 17:48] garris commented on #106
Remember to pull from master.

[2015-10-20 17:49] garris commented on #101
Done.

[2015-10-20 17:49] #101 closed

[2015-10-20 18:01] garris commented on #90
Ok.  This is on master.  Please give this a test when you get a chance.   Thanks!

[2015-10-20 18:06] ivanmayes commented on #101
Thanks!

[2015-10-20 18:48] klausbayrhammer commented on #90
Awesome, I'll look into it tomorrow!

[2015-10-21 06:21] jkopcsek commented on #106
Awesome, works like a charm! :-) Thank you!

[2015-10-21 06:21] #106 closed

[2015-10-21 06:42] CreativPixel commented on #105
Sorry to bug you one more time. Though :nth-child and :first-child selectors are working beautifully, using the :hover selector returns a gray image with an arrow in it. Is this expected behaviour?

[2015-10-21 13:18] klausbayrhammer commented on #90
Probably I'm missing something, but how can you set the `cliExitOnFail` flag? It is called on the `path` module - shouldn't it be called on the `paths` object which encapsulates the config? Although the `cliExitOnFail` isn't set in `paths.js`.

[2015-10-21 15:10] axe312ger commented on #105
:hover is a pseudo class and no selector. You can not select by :hover, :focus and :active

[2015-10-21 15:13] CreativPixel commented on #105
Thanks for clearing that up.

On Wed, Oct 21, 2015 at 5:10 PM, Benedikt Rötsch <notifications@github.com>
wrote:

[2015-10-21 15:18] axe312ger commented on #105
No worries. But i see what feature you are looking for, I hope I get some time in november to support garris with backstopjs 💪

[2015-10-21 15:19] axe312ger commented on #105
Lol, seems like i missed a version. @CreativPixel you may create a custom casperjs script for testing the hover state -> https://github.com/garris/BackstopJS#version-080-beta-available-now

[2015-10-21 16:50] garris commented on #90
You are not missing anything.  I was switching branches a lot yesterday and merged the wrong one.
All fixed now.  Many apologies for this!

[2015-10-21 18:39] garris commented on #105
^^^ I am so psyched for that feature!

[2015-10-21 21:04] axe312ger commented on #101
@garris i would propose to use https://github.com/dodo/node-slug to ensure valid file names. We got some very good experiences with slug in a bigger project.

[2015-10-21 21:11] axe312ger commented on #63
Nice idea. I'd prefer https://github.com/dimsemenov/photoswipe instead of magnific popup since it provides better options in zooming into the picture. Also the touch support is way better.
The api is good and it is from the same guys as magnific popup.

@YuliaTsareva let me know is you need any help or discussion about this :)

[2015-10-21 21:48] garris commented on #101
yup. would pull that too.   "unicode ♥ is ☢"

[2015-10-22 09:37] axe312ger commented on #96
😍

[2015-10-22 15:14] klausbayrhammer commented on #90
I've tried it with the  `"cliExitOnFail": true` and `"report": "CLI"` and everything works like a charm! Thanks @garris a lot for your support!

As a sidenote: probably we could remove the `setTimeout` when using the CLI-compare?

[2015-10-22 15:14] #90 closed

[2015-10-22 15:48] garris commented on #90
Super!

And yes you're right, those timeouts can probably be tuned or removed entirely.

[2015-10-26 14:02] paweltin opened #108 "Custom CasperJS scripts doesn't work with SlimerJS"

[2015-10-26 14:21] garris commented on #108
Can you please provide your test case and console output.   Thank you for filing the bug!

[2015-10-26 14:29] paweltin commented on #108
Sure, sorry. This is my Grunt config:
[code]

This is `backstop.json`
[code]

This is my custom script:
[code]

And this is console output for `grunt backstop:reference`:
[code]

If I switch engine for `phantomjs` I get an extra line in output:
[code]
After `CasperJS: Running custom scripts.`

[2015-10-26 18:06] klausbayrhammer commented on #92
If you like I'd prepare a PR this week

[2015-10-26 18:44] garris commented on #92
@klausbayrhammer, @paweltin
I just looked at this.   It looks like the approach, which I suggested originally, may be un-necessarily over-built.

Asking the user to split the property and value out is probably unnecessary.   All we are doing is reassembling the data (adding unnecessary complexity) -- unless we are going to actually use this data internally we are probably better off simply asking

[2015-10-26 20:03] paweltin commented on #92
If it's the only place these props are used, it's unnecesarily complicated indeed. I've fixed my mind on config consistency and I missed it. Simplicity over consistency is justified here. I can commit a fix tomorrow.

[2015-10-26 23:50] garris commented on #92
@paweltin  Thank you for taking a second look and thank you for contributing!   Cheers,  Garris

[2015-10-27 21:14] paweltin commented on #108
Do you have any clue what can be wrong? I would gladly try to fix it, as I prefer to use SlimerJS, but I don't know where to start.

[2015-10-28 07:57] paweltin commented on #108
It seems that this `require()` goes wrong:
https://github.com/garris/BackstopJS/blob/master/capture/genBitmaps.js#L141

[2015-10-28 10:05] paweltin commented on #108
It looks like SlimerJS issue. If I use absolute path for my custom scripts directory in `backstop.json` everything works fine. Issue probably can be closed.

[2015-10-28 12:08] paweltin opened #109 "Add viewport to custom script's context"
I think it's pretty useful for writing device specific scripts. If you agree I will be happy to push a PR

[2015-10-28 16:15] garris commented on #108
Thank you for tracking this down -- this is very helpful!   Before closing, we should probably do two things...

1)  Update readme documentation in the `onReadyScript` and `casper_scripts` notifying users that absolute paths are required when using the slimer engine.

2) maybe wrapping the require() in a `try` block.  On error we could notify the user to check the notes in the documentation -- or

[2015-10-29 15:24] garris commented on #108
I have just pushed item 1 above to master.

[2015-10-29 15:24] garris commented on #109
What is a specific use case for this?

[2015-10-29 15:31] garris commented on #92
@klausbayrhammer @paweltin  This feature has been pushed to master.   There is no documentation yet -- but any help validating that this works with both Phantom and Slimer would be greatly appreciated.   Thanks!

[2015-10-30 07:49] paweltin commented on #109
You may want to do different actions for different devices (e.g. click different button on mobile than on desktop).

[2015-11-01 07:46] garris commented on #109
Sure, that makes sense.  Would totally appreciate the pull request.   Please create a script that we could run to test the feature (at minimum it should just log viewport data to the console to prove that everything is in sync).  Also, please add a note in the documentation.

[2015-11-03 11:54] G07cha opened #110 "Don't see blurred text"
This is how it's looks like on page:

![screen shot 2015-11-03 at 1 51 32 pm](https://cloud.githubusercontent.com/assets/6943514/10907361/06be483e-8232-11e5-9425-1d001c0665f5.png)

This is how it's looks on reports:

![screen shot 2015-11-03 at 1 50 39 pm](https://cloud.githubusercontent.com/assets/6943514/10907362/07937130-8232-11e5-9faf-30e4285a6090.png)

On changing blur levels all tests certai

[2015-11-03 14:57] garris commented on #110
Looks like phantom is tossing out the filter calls.  Have you tried using the SlimerJS engine option?

[2015-11-03 16:23] G07cha commented on #110
SlimerJS have same result. But now I see that is totally not a Backstop issue, closing

[2015-11-03 16:23] #110 closed

[2015-11-04 10:10] AstroMalte opened #111 "rjs"

[2015-11-04 18:25] #108 closed

[2015-11-05 21:11] brunowego opened #112 "SlimerJS not working"
I have trying use SlimerJS but nothing I try is working. Have any idea?

[code]

[code]

[2015-11-05 21:31] garris commented on #112
@brunowego can you include your console output?

[2015-11-05 22:42] brunowego commented on #112
Thanks @garris :+1:

[code]

[2015-11-05 22:47] garris commented on #112
@brunowego It looks like your test is running and passing.  Not sure what the issue is?

[2015-11-05 22:50] brunowego commented on #112
Is not running with slimerjs, is running with phantomjs. I use flexbox and need slimerjs. Thanks again @garris !

[2015-11-05 22:57] garris commented on #112
oh ok, sure. What is your OS?  and can you send your console output result for this...

`$ slimerjs -version`

[2015-11-05 23:32] brunowego commented on #112
This is very strange, output nothing:

![bug](https://cloud.githubusercontent.com/assets/441774/10984946/671a0ec4-8404-11e5-88c2-ef7cdc41dba3.gif)

OS X El Captain

[code]

[2015-11-06 00:38] garris commented on #112
nice screen grab :wink:

I think that is probably the issue.   Here is what I get...
[code]

Could you maybe try to reinstall slimerjs?

FWIW: I haven't moved to El Capitan yet.  Could this be a thing?

[2015-11-09 13:46] brunowego commented on #112
The problem is with firefox version. See https://github.com/laurentj/slimerjs/issues/398#issuecomment-155064865

Thanks @garris :+1:

[2015-11-09 13:46] #112 closed

[2015-11-11 22:04] EvanLovely commented on #109
+1

[2015-11-12 07:42] paweltin commented on #109
I'm gonna push it as soon as i can. Please leave this open.

[2015-11-12 15:47] EvanLovely commented on #109
@garris @paweltin I might of just taken care of this in #113 - did I?

[2015-11-12 16:25] garris commented on #109
Yes, #113 did it.  It's merged to master.   Please review.  It would be great to see a test (switching on 2 vp cases) for it in the tests folder. If it's otherwise working the ticket can be closed.

[2015-11-12 16:27] garris commented on #111
Wat?

[2015-11-12 16:27] #111 closed

[2015-11-12 16:41] EvanLovely commented on #109
Got some tests up in #114

[2015-11-12 18:34] garris commented on #109
Thanks everyone.

[2015-11-12 18:34] #109 closed

[2015-11-16 06:52] MondeSameWave opened #115 "Backstop can't pick up changes on white backgrounds"
Made a reference of a icon with a white background, increased the width but backstop did not pick up the change. When I change the colour it works

[2015-11-16 14:41] garris commented on #115
@MondeSameWave please provide your config file, console output and screenshots.  Thanks.

[2015-11-18 12:05] superKalo opened #116 "YouTube Iframe - Screenshot Comes Blank"
Hello,

I am trying to "catch" a screenshot of youtube video.
Here's my scenario:
[code]
and here's my "wait-iframe-to-load.js" script:
[code]

In the console, I am getting:
[code]

The iframe on ready event works when I tested it on the page itself. I tried to increase both timeouts to 10000, doesn't do the trick :( The place in the 'body' where the youtube video is supposed to be, comes out empt

[2015-11-20 19:59] EvanLovely opened #117 "Define config in JS instead of JSON"
Would be great if `backstop.json` could be `backstop.js` as it'd allow the use of variables & comments. Even better would be if Backstop got config by using `require('backstop')` as that would grab any of these:

- `backstop.json`
- `backstop.js`
- `backstop/index.js`

[2015-11-20 20:27] garris commented on #117
Yes!

I just merged a configuration for setting the location of backstop.json.   I think there is plenty of room for this feature to live in harmony with that one.

If *.js returns a promise you could easily hit an endpoint -- I think that might be the way to go.

Any case -- sounds great.  If you write it, I'll pull it.  Fine to do in small steps too.  Let me know how I can help.

Awesome.

[2015-11-27 16:58] emmareardon1 opened #118 "Which browser"
Hi, are there any plans to be able to compare different browsers with this? Which does it currently do?

[2015-11-28 14:45] axe312ger commented on #118
We use headless browser implementations. You currently can decide if you wanna test with phantomjs (webkit => Chrome) or slimerjs (Gecko => Firefox)

Other browser are currently not implemented, it might be possible to integrate with [Selenium](http://www.seleniumhq.org/) to support almost any browser but this is very complex and often very buggy. People who worked with Behat & Silenium know what

[2015-12-01 00:45] gregsqueeb opened #119 "When I have 2 scenarios it seems to skip the first viewport on the second scenario"
My backstop.json file is like so:

[code]

The tests run like this:
![image](https://cloud.githubusercontent.com/assets/667173/11488896/2e3cae8e-977f-11e5-932d-93ad26925660.png)

There is no "phone" viewport for the second scenario.

[2015-12-01 00:56] garris commented on #119
Hmm. That's a puzzler... Can you include the console output -- that might help narrow things down...  And also, is it possible to exclude `onReady.js` just to help with troubleshooting?

[2015-12-01 01:03] gregsqueeb commented on #119
Hmm, I re-installed everything a different way and I am no longer having this issue. Originally I installed everything following these instructions: https://css-tricks.com/automating-css-regression-testing/ and had to install casper from github.

The onReady.js file had this in it:
[code]

Can't seem to get the logs anymore

[2015-12-01 01:05] garris commented on #119
Which logs?  Do you mean console output?

[2015-12-01 17:23] gregsqueeb commented on #119
Sorry, I meant the console output. I can't reproduce this when I installed Backstopjs with NPM instead of bower.

[2015-12-01 19:18] garris commented on #119
Great.  So it sounds like the problem resolved when you used NPM.   I will look at the bower version when we do our next release.  Please let me know if you run into any other problems.  Thanks for posting the issue!

[2015-12-02 04:07] #119 closed

[2015-12-03 16:58] garris commented on #118
Thanks Benedikt!

[2015-12-03 16:58] #118 closed

[2015-12-03 17:00] garris commented on #115
Closed due to inactivity.

[2015-12-03 17:00] #115 closed

[2015-12-04 01:25] garris commented on #87
Ok.  just tested this.  Works beautifully!   It's merged to master.   Release forthcoming!

[2015-12-04 01:25] #87 closed

[2015-12-04 10:06] klausbayrhammer opened #121 "Save image-diffs when using the CLI reporter"
When using the CLI reporter it is sometimes quite tricky to spot the error because the image-diffs are not persisted. As an addition to #90 it would be really useful if we store the (failing) image-diffs somewhere. We could either pre/postfix the images with passed/failed and put them in the `paths.bitmaps_test` or put them in a separat folder?

If that's ok for you I'd prepare a PR.

[2015-12-04 17:21] garris commented on #121
That makes total sense.  One nice thing about the existing CLI flow is its speed -- so for that reason it might be best to save only the failed diffs?    I like your idea of saving those in the paths.bitmaps_test/[timestamp] directory.   Maybe with a prefix (e.g. `diff_failed_`) so it is easy for a human to find when looking at the directory.   A PR is totally appreciated!   Thanks @klausbayrhamme

[2015-12-05 20:26] #121 closed

[2015-12-05 20:27] garris commented on #121
merged

[2015-12-05 20:33] garris commented on #92
Merged and documented.

[2015-12-05 20:33] #92 closed

[2015-12-07 18:33] garris commented on #116
@superKalo Sorry for the delay getting to this.  Seems there are some issues with loading YouTube iFrames in Phantom...
[](http://stackoverflow.com/questions/30146353/phantomjs-not-mimicking-browser-behavior-when-looking-at-youtube-videos)

Maybe it would work using the SlimerJS option?

Hope that helps!   Cheers.

[2015-12-07 18:33] #116 closed

[2015-12-08 12:40] superKalo commented on #116
Thank you @garris ! Yes, changing the engine to SlimerJs did the trick even without my "wait-iframe-to-load.js" script. Great :+1:

[2015-12-10 08:57] kateivamarmalade opened #123 "Basic HTTP Auth"
Hey, is there a way that it would be possible to make basic HTTP auth before each scenario?

[2015-12-10 15:38] garris commented on #123
@kateivamarmalade I haven't tested this use case myself -- but you should be able to add a simple CasperJS script to do that for you.  See these two links...

example of CasperJS script with httpAuth...
http://stackoverflow.com/questions/24842762/casperjs-http-auth

running CasperJS scripts in BackstopJS...
https://github.com/garris/BackstopJS#running-custom-casperjs-scripts-version-080

Hope that

[2015-12-15 10:26] klausbayrhammer opened #124 "Specify location of compareConfigFileName"
Currently we are running our backstop-tests on a CI-server which operates on a fresh checkout. Since `npm install` is so painfully slow use a prepackaged node_modules directory and use `npm purge` and `npm install` to update dependencies, quite similar to [this approach](https://lincolnloop.com/blog/speeding-npm-installs/). Something we stumbled upon was that we sometimes we got the error `It look

[2015-12-15 17:19] garris commented on #124
I understand.  I guess the two options would be 1) move the location of the cache file to the bitmaps_reference path (or an explicitly specified path in the config)
OR
2) just add a config `disableConfigCheck`  which turns off saving/checking etc..  (This is probably easiest and maybe more useful for your case)

[2015-12-16 18:35] garris commented on #124
I totally take back my last response.  Reading this on my phone on the train, I didn't see the text after the bullets.  So sorry about that!

I like your current workaround calling `bless` like that.  Totally what I would have done.

I think your first solution is the way to go.  Super straight forward.

That said,  the other suggestion, hash or checksum idea is very cool.  I guess that could actu

[2015-12-17 09:47] rimi-itk commented on #117
I would like this as well and I have created a pull request: https://github.com/garris/BackstopJS/pull/125

[2015-12-18 09:34] Grafs opened #126 "Error in custom script"
Use:
[code]
Error: vp is undefined
Please correct in backstopjs/capture/genBitmaps.js
`require(require_script_path)(casper, scenario);`
to
`require(require_script_path)(casper, scenario, vp);`

[2015-12-18 16:55] garris commented on #126
Hi, thanks for reporting this.   The `vp` argument was actually added after the 0.8.0 release and I have just pushed release 1.0.0 to NPM.   I expect everything will work if you update to the latest version.  Please let me know if that fixes it.  Thanks.  GS

[2015-12-21 18:32] garris commented on #117
Almost closed by PR #125 merged to master.  See documentation on how to specify config file via CLI argument.

Would like to look at enabling backstop.js *or* backstop.json in it's default location by removing `.json` from the default config filename here https://github.com/garris/BackstopJS/blob/master/gulp/util/paths.js#L19

[2015-12-23 05:00] ay13 commented on #123
@kateivamarmalade @garris When you add the URL to the scenerios you can include the http basic auth username and password in the URL and it will log you in.

example: ```http://username:password@www.website.com```

[2015-12-23 19:56] garris commented on #123
@ay13  Nice!  :+1:

[2015-12-23 19:59] garris commented on #123
I think that should do it -- closing.   @kateivamarmalade Please reopen if for some reason @ay13's answer doesn't solve the issue.  Cheers

[2015-12-23 19:59] #123 closed

[2015-12-23 20:01] #126 closed

[2015-12-29 15:27] klausbayrhammer opened #127 "Override defaults for misMatchThreshold/readyEvent"
We are currently building up more and more backstop-scenarios, but since we use the same "test-setup" we are duplicating the readyEvent and misMatchThreshold in every scenario. The scenario part of our backstop config kind of  look like this:

[code]

As you can see we are duplicating the readyEvent and misMatchThreshold properties heavily and reduce the readability of our scenarios. Would it be p

[2015-12-31 09:05] vaidotas-adf opened #129 "CLI test fails to store failed_diff images on Windows"
After running `gulp test` on Windows if there were different images, process stops with error:
[code]
Problem is in gulp/tasks/compare.js file, where lastSlash variable is hardcoded to support Unix file separators:
[code]
Shouldn't path functions be used here?

[2015-12-31 09:20] vaidotas-adf opened #130 "Add configurable server port"
BackstopJS report server runs on same port as [Browsersync](https://www.browsersync.io/) UI (port 3001). It would be nice to have configurable browser port in config file.
Alternative solution: detect if port is free, and use another one, if default port is already taken.

[2015-12-31 20:47] #129 closed

[2016-01-03 21:50] garris commented on #127
Yes, this should not be difficult to add.

I would not add the `defaultProperties` branch. Instead I would probably just keep the parameters (e.g. `misMatchThreshold` etc...) at the config root.   (It's ok with me if it makes more sense for your use case to group them together.)

_first, add the variables internally_

after this line...
https://github.com/garris/BackstopJS/blob/master/gulp/util/pa

[2016-01-03 22:54] garris commented on #130
Hi,  thanks for posting.  I will put up a fix for this.   Will let you know when it's up so you can test it out.  Best, GS

[2016-01-04 00:51] garris commented on #130
I added a property in the default config to assign a port number.  Please do a fresh install from master and let me know if that works for you.   Cheers.

[2016-01-04 08:55] vaidotas-adf commented on #130
I've set "port": 3002 in config. When starting console shows "Listening on port: 3002". server.js process is started with -p 3002 parameter. But trying to open http://localhost:3002/compare/ shows that page is not available. Somehow server is still started on 3001 port.

[2016-01-05 17:11] garris commented on #124
Ok.  The PR looks great.  Merged.

Notes:
- After merging I cleaned up `echoFiles.js` so no other tasks are needed there.
- I have not tested anything yet -- but all the code changes look really good.  Will test either tonight or tomorrow AM.

:+1:

[2016-01-05 17:20] garris commented on #130
Thanks for testing this.  I am seeing very weird `argv` behavior that was not there when adding the `-t` parameter.  Perhaps this is an issue with `argv` & `spawn` together?  Will follow up very soon as this is something I think we should have.  Please let me know if you gain any insight in the meantime.  Thank you.

[2016-01-06 06:49] vaidotas-adf commented on #130
Looks like that separate arguments need to be passed as separate array elements to spawn function. Starting server on custom port works correctly after modifying line 33 in /gulp/tasks/start.js file:

    var serverHook = spawn('node', ['server.js', '-t', time, '-p', port],  {detached: true, stdio:'ignore'});

[2016-01-06 11:16] garris commented on #130
Nice,  Thank you!   Merged and tested.   This is now available on master and will go out in the next release.    Cheers.

[2016-01-06 11:16] #130 closed

[2016-01-06 11:17] garris commented on #127
Merged.  This should work now.  Please test for your use case and close if all good.  Cheers!

[2016-01-06 11:30] garris commented on #124
Ok.   Just tested this -- works great --  Thanks for the contribution!

[2016-01-06 11:30] #124 closed

[2016-01-06 11:33] garris commented on #117
just looked at removing `.json` from default file -- unfortunately too many dependencies on a file extension ATM.

Anycase,  tweaked the documentation -- pretty nice feature as is.  closing issue.  Thanks.

[2016-01-06 11:33] #117 closed

[2016-01-07 07:12] klausbayrhammer commented on #124
Ah nice you removed the copying of the compareConfig entirely - I was wondering why that was needed :+1:

[2016-01-07 15:48] #127 closed

[2016-01-07 15:52] garris commented on #44
This functionality can be supported with custom CasperJS scripts.  see https://github.com/garris/BackstopJS#running-custom-casperjs-scripts-version-080

[2016-01-07 15:52] #44 closed

[2016-01-14 13:35] renanvalentin opened #135 "[QUESTION] Workflow with CI"
Hey thanks for the awesome tool!

I would like to know the best way to integrate it with a CI workflow, right now I'm using Travis, so I don't know in which step to put the reference and the test task from backstopjs.

Thanks in advance!

[2016-01-14 15:27] Primajin commented on #101
Hey guys, so I understand you put this functionality in? I can't find it documented nor generated by genConfig. How can I use the label for the filename?

[2016-01-14 16:17] garris commented on #101
The Label was added to the CLI reports to make it clear what scenario a given selector is for.

example...
<img width="630" alt="screen shot 2016-01-14 at 8 06 59 am" src="https://cloud.githubusercontent.com/assets/447033/12329853/210d2f28-ba97-11e5-9f32-7e7c9ecdea1c.png">

[2016-01-14 16:21] garris commented on #135
This sounds like a great article idea!   Unfortunately I have very little experience with Travis so I'd have to dig into it more myself.   Please let me know if you come up with something good.  Maybe someone else will have some ideas...   GS

[2016-01-14 17:06] Primajin commented on #101
I see, I thought this issue was about using the label for the filenames generated for reference/test. But anyhow if there is no such function yet, I'm gonna do a PR soon :wink:

[2016-01-14 17:32] garris commented on #101
@Primajin That would be a great addition -- happy to help in any way.   thanks!

[2016-01-14 17:37] garris commented on #101
I think right after `scenarioIndex`here...
https://github.com/garris/BackstopJS/blob/master/capture/genBitmaps.js#L183

[2016-01-14 18:24] fixfoxi3 opened #136 "Run BackstopJs with : casperFlags: "--ignore-ssl-errors=true""
Hallo together,

for our local https testing we need to add:

 "casperFlags": [
    "--ignore-ssl-errors=true",
    "--ssl-protocol=any"
  ],

to our backstop.json.

But it seems that it`s not working correct. All we get is an empty screenshot in our Result (like it is know from invalid https on phantomJs).

In node_modules/backstopjs/gulp/tasks/test.js:
var casperArgs = tests.concat(args);
consol

[2016-01-14 18:27] fixfoxi3 commented on #136
Ps: our Version
"name": "backstopjs",
  "version": "1.0.2",

[2016-01-14 22:02] Primajin commented on #101
#137 Might fix #101 :wink:

[2016-01-15 01:35] garris commented on #136
ok -- thank you for filing the issue!

The casper docs specify the script path as the first argument (which is different from your example).  But then perhaps something "interesting" is happening in that spawn call?   I would like to see what is in that casperArgs and compare that with what casper.js is seeing.   The docs also demonstrate how to echo the CLI params when inside of casper.  see here

[2016-01-16 00:48] garris commented on #136
Ok, found the bug and pushed a fix.

You were correct -- there was a missing assignment that dropped paths.casperFlags.

Could you verify that it is working for you now?

Please pull from master to install... `npm install --save-dev backstopjs`

If it's working for you I will push a patch asap.

Thank you!

[2016-01-16 09:48] fixfoxi3 commented on #136
i pulled your latest changes:

It`s working now fine !
Thank you very much !

[2016-01-16 15:47] garris commented on #136
Great!

[2016-01-19 01:42] sveetch commented on #44
Is there some sample to achieve this with CasperJS ? I'm a little bit lost with casper as i need some session cookie to be set before the page is rendered, else i won't have the "authenticated only" content.

And from what i understood from the documentation, it seems the page is already rendered when `onReadyScript` is executed, did i miss something ?

[2016-01-19 01:55] markanthonyuy opened #138 "Force device mode"
Is it possible to force device mode while taking a screenshot?

Here is the scenario, we load different header and footer for mobile and desktop devices. We use a library called "Mobile Detect" https://github.com/serbanghita/Mobile-Detect to conditionally loads the right header and footer for the right type of devices.

Btw Great Tool!

Many Thanks.

[2016-01-19 12:01] lukasziegler opened #139 "limiting viewports on a per scenario basis in config file"
When creating backstop tests with many scenarios and multiple viewports, the number of reference images gets quite big. In certain cases not all scenarios need to be tested with all viewport sizes. It is often sufficient to only test certain components with a subset of all defined viewports (since they are not responsive and do not change in between the viewports). For other examples which all vie

[2016-01-19 19:14] chipcullen opened #140 "Comparing / Diff a Production URL and a Development URL"
First off - great project!

I'm wondering if I'm missing something obvious: what I'm trying to do is do a comparison / diff between two different URLs - a 'production' url (http://www.example.com) and a local 'development' url (http://dev.example.com:8000).

Is there a way to make one scenario your 'reference' and one your 'test'? Or is there a different way to do this?

Thank you for any help!

[2016-01-19 20:42] garris commented on #140
@chipcullen hi, thanks for posting!  I have not considered that use case before --  it sounds like something that should be added.   Currently, BackstopJS is built around a single developer on a single URL model.

That said, the workaround would be pretty easy.   Just set up your scenarios pointing the URLs to your reference and then run  `$ gulp reference`     Then when you want to test, just cop

[2016-01-19 21:48] chipcullen commented on #140
@garris wow - thank you for the *very* fast response!

Your work around works for now - I'll see if I can make it more dynamic.

As for the use case - I originally had seen it on Wraith - http://bbc-news.github.io/wraith/index.html#Capturemode

BUT, I'm digging an npm based project, which is why I'm trying out backstop. So far it's working great!

Is there anything I could do to help? Would a diff

[2016-01-19 22:18] TimPerry commented on #44
I've got this working in my capser tests by first loading the inital homepage or somerthing, then calling
[code]

However it seems that the implementation for backstop is to use phantom.addCookie, which means you have to know the domain up front, which isnt ideal. I've tried explicitly stating the domain in my cookies.json file but that doesn't seem to work either?

I have noticed that this sectio

[2016-01-19 22:29] TimPerry commented on #44
@sveetch Got something working by creating a set_cookies.js file in the /scripts directory:

[code]

Then in my scenario I have added this:

[code]

[2016-01-19 22:34] sveetch commented on #44
@TimPerry thank you

I'm trying to achieve my problem with a CasperJS script to launch before just for login and using persistent cookie. I will try your code if i don't succeed.

[2016-01-19 22:40] garris commented on #44
@sveetch Thank you for documenting your *cookie* code here.  Much appreciated!  Cheers.

[2016-01-19 23:30] sveetch commented on #44
@TimPerry  @garris here it is: https://gist.github.com/sveetch/4a20793b77f2a8b5c045

It works well, it's little bit verbose and maybe messy, but it just works.

[2016-01-19 23:38] garris commented on #44
@TimPerry thank you very much for documenting.  Do you mind if I add this snippet to the documentation?

[2016-01-19 23:40] garris commented on #136
Closed by patch 1.0.3

[2016-01-19 23:40] #136 closed

[2016-01-19 23:51] garris commented on #138
Thanks for posting but unfortunately the short answer is: I don't know...   You may be able to use a custom casper script to set this and then re-open the URL -- but that is just a guess.

Info on adding custom scripts is here...
https://github.com/garris/BackstopJS#running-custom-casperjs-scripts-version-080

Please post back if you solve this -- there may be others with this issue.   Cheers!

[2016-01-20 00:43] garris commented on #140
Sure, I am trying to be disciplined about adding properties to the config at this point -- keep the complexity low while the project is still manageable.  That said,  I think it's a legitimate feature request.   If you wanted to do a PR I'd support it.  Should be pretty easy to add a `referenceUrl` property to a config scenario and then switch on if we are running a reference or test pass.

Replac

[2016-01-20 01:22] garris commented on #139
I am wondering if it may make more sense for you to split up your scenarios by viewport groups.  It's very easy to call different config files and may look cleaner from a reporting standpoint.   Have you considered that approach?

[2016-01-20 01:27] markanthonyuy commented on #138
Alright, no problem. I'll post it here once I figure it out. Thanks!

[2016-01-20 08:29] TimPerry commented on #44
@garris Of course not, go for it and thank you for creating such a great tool.

[2016-01-20 15:20] vaidotas-adf commented on #138
MobileDetect uses user agent to detect if device is mobile or not. CasperJS has function to set user agent (e.g. https://gist.github.com/iwek/3124720), but it has to be executed before opening URL.
I'd like to suggest adding optional user agent parameter to viewport options. That way we could set mobile UA for small viewports.

[2016-01-20 18:34] garris commented on #138
I think you should be able to do this using a custom script.  @timperry used this technique for a similar case...

Create a setUA.js file in the /scripts directory:

[code]
Then in the scenario add this:
[code]

Hope this helps...

[2016-01-21 01:00] markanthonyuy commented on #138
@garris @vaidotas-adf Awesome! Works like a charm.

Thanks you for helping guys.

[2016-01-21 01:00] #138 closed

[2016-01-22 21:41] frob commented on #135
Right now the tool is geared around a manual review of the diff results. What would be needed for this is a threshold of failure. I wraith/imagemagick terms this is the fuzz and/or some type of CL only way to checking this.

The best way to do this would be to give this tool a CL command that can be able to report back a json object with the results.

A quick and dirty way to do this is to have a

[2016-01-22 21:53] frob opened #144 "Any plans to integrate with Selenium"
This is a great tool for working on a small project, where one or two browsers are the target. However, in order to support more browsers, it would be nice if Selenium was an option.

I am not trying to sound elitist, but the usefulness of this tool would go up dramatically if we could hook it into a Selenium server and run all our tests on all the browsers that are supposed to be supported on a p

[2016-01-23 01:02] garris commented on #144
Hi -- thanks for posting!

Yes, BackstopJS is indeed intended for a developer _working on features_ -- to catch obvious bugs before shipping to QA.  So while the hope is that it makes life easier for QA engineers (because developers are shipping better code), BackstopJS wasn't explicitly designed to be a comprehensive QA app.  For that audience, phantom and slimer have been sufficient and the inst

[2016-01-23 01:04] garris commented on #140
this is merged to master.  Would appreciate if someone could verify that the feature is working.   Thanks!

[2016-01-25 10:30] laubsauger commented on #140
Seems to work (only tested 1 case). Noticed that the scenario.url is used for a few echo calls, e.g. https://github.com/laubsauger/BackstopJS/commit/4b263009ece76eed5a0e17fe357aa668afec9439

[2016-01-25 11:55] kamlesh-astech opened #145 "Automating deployment in grunt-backstopjs with commits accept / reject if test is passed / failed"
It seems to be good practice using backstopjs with grunt (followed joe watkins). Only one thing i want to know is, whether is it possible to create a test script for xyz project and while deploying that project changes to repository. the backstop test must be run and if there is any failure in test, then that commit should be rejected from deployment and if the test result is passed(100%) than tha

[2016-01-25 11:57] kamlesh-astech opened #146 "Check slider content using backstopjs"
I have used bxslider and want to check the 2nd and 3rd child of the slider using backstopjs.
I checked using the delay event in both the backstop.json and the bxslider script.
it generates references for the child content of the slider. but fails to generate appropriate references of the items.

1)     This is my html

    <ul class="bxslider">
    	  <li><img src="http://grab.by/NplU" title="Funk

[2016-01-25 19:12] garris commented on #140
@laubsauger Great catches -- thanks for testing!

@frob Looks like the change is also needed in `capture/echoFiles.js`.  And also here... https://github.com/laubsauger/BackstopJS/commit/4b263009ece76eed5a0e17fe357aa668afec9439

[2016-01-26 08:11] laubsauger opened #147 "Allow a global onReadyScript to be run throughout all scenarios"
First, thanks for this project :)

Second, the juicy part:

We currently have a per-scenario onReadyScript.
A global onReadyScript would be useful for QA-use cases like generalization of dynamic content.

My specific case:
Replacing dynamic product images, texts and other data with generic placeholders. The aim is to be able to compare two versions of a site even if they are running on different d

[2016-01-26 09:02] laubsauger commented on #147
Since i was at it, i also added an onBeforeStartScript. This can be used for registering event listeners for e.g. cancelling requests or other things that have to be setup before casper starts to load the first page.

[2016-01-26 15:32] garris commented on #147
Hi @laubsauger -- thanks for posting!

It would help me to understand why using `hideSelectors` doesn't work for you in this case.

[2016-01-26 15:34] garris commented on #147
Also, There is already a global `onReady` script option.  (It hasn't been documented yet).
https://github.com/garris/BackstopJS/pull/133

[2016-01-26 20:31] chipcullen commented on #140
@garris sorry for radio silence for a few days. Still digging out from under the snow on the east coast.

The reference/test scheme worked very well for me as well. I had a similar experience as @laubsauger in terms of the echos spouting out the scenario.url.

Thanks for adding this feature so quickly! It's a great enhancement!

[2016-01-27 00:44] garris commented on #140
@chipcullen No problem at all -- thanks for the PR.  Cheers

[2016-01-27 00:56] #140 closed

[2016-01-27 01:04] garris commented on #145
That library is maintained by Joe and I don't have enough context on it to give you a good answer.  Might help to look at his repo.  Please post here if you find a good solution -- I am sure others would be interested in how to do this.  Thank you.

[2016-01-27 01:11] garris commented on #146
Sorry, I'm not familiar with bxslider.  Here is an article that looks at testing web apps.  Maybe it will help.

http://davidwalsh.name/visual-regression-testing-angular-applications

[2016-01-27 04:40] kamlesh-astech commented on #145
Thanks for your response. Presently I'm working on it. Will surely update if find and solution for this

[2016-01-29 08:51] laubsauger commented on #147
Hi @garris, thanks for the hint - didn't see that. Unfortunately, the solution from #133 only allows the scenario-based onReady **or** the global onReady to run. I need both in my use case.
The global one is used for generic scripting (e.g. replace all dynamic images, texts, etc.) while the local one caters to page specific things.

As for the onBeforeStartScript: At the moment im specifically usi

[2016-01-30 00:36] HeikoMamerow opened #151 "Changing reporting server domain?"
Hi, how can i change the default reporting server domain _localhost_ - e.g. to _www.something.other_?

Tnx & Greetings from Berlin :-)

[2016-01-30 03:47] garris commented on #151
For that you need to edit your hosts file.   Here is a article on how to do that...
http://www.tekrevue.com/tip/edit-hosts-file-mac-os-x/

[2016-01-30 22:52] lukasziegler commented on #139
That's a good idea! Thanks for the feedback. I will go with that approach for now.

[2016-01-30 23:23] garris commented on #139
Nice.  Glad that works!

[2016-01-30 23:23] #139 closed

[2016-02-01 14:41] #151 closed

[2016-02-02 20:33] tyleryoungblood opened #152 "Can Backstop be used with a Jekyll site?"
I'm trying to get Backstop to work with a Jekyll site I'm building. The gh-pages version can be [found here](http://tyleryoungblood.github.io/resimplifi-site-jekyll/).

If I update my label so that it points to that url (`"label": "http://tyleryoungblood.github.io/resimplifi-site-jekyll/"`) my screenshots show the site without CSS being applied.

I've also tried using `"label": "http://localhost:3

[2016-02-03 01:28] garris commented on #152
hi,  first, `label` is just for display purposes in your reports so the value would probably be something like "homepage".   The `url` property is where you'd add the actual URL.

Second,  try increasing the delay parameter.  Your CSS may not be loaded when the snapshot is taken.  See testing-spas-and-ajax-content in the readme.

[2016-02-03 14:41] mayacode opened #153 "testing pages with Basic HTTP Authentication"
Hello,

I discovered, that in many companies staging/testing environments have Basic HTTP Authentication, as they are available from outside of company inner network. Is there any implemented solution already? Or maybe is there a way to add some settings to casper, before page will be open? As there is "onReadyScript" property, so maybe "beforeOpenUrlScript" would be also useful?

If there is any

[2016-02-03 15:28] garris commented on #153
It's very easy. Try this... https://github.com/garris/BackstopJS/issues/123#issuecomment-166804008

[2016-02-03 15:30] garris commented on #153
example: http://username:password@www.website.com

[2016-02-03 16:07] mayacode commented on #153
True, but if I have more pages and if credential change I will have to change it in all links... so I would like to keep it in one file.

[2016-02-03 17:29] garris commented on #147
Hi @laubsauger -- sorry for the delay getting back, I have been on on-call duty at work which has made it hard to respond to people.   Anycase, in your first point, I am pretty sure you can `require()` a global file in your scenario-level onReadyScript() files.  The current behavior is more of a override/fallback orientation, so assuming that `require()` will work for you, I don't think we have a

[2016-02-03 17:41] garris commented on #153
I see.  In that case you can totally use a global `onReadyScript`.  See the documentation on how to implement this.

Your script would probably look like this...

[code]

Please let me know if that does the trick.

[2016-02-03 17:57] garris commented on #153
Also FYI:  we are discussing a `onBeforeEachScript` in another thread.  Please feel free to add any comments...

https://github.com/garris/BackstopJS/issues/147

[2016-02-04 08:19] mayacode commented on #153
onReadyScript is launched AFTER thenOpen in genBitmaps.js, setting auth should be before it. I cannot see any point of opening the same page again.

Thanks for the link to other issue, will read.

And I would suggest to use `casper.getCurrentUrl()`, not `scenario.url`, especially if 'referenceUrl' property is defined.

[2016-02-04 08:31] mayacode commented on #147
Hi there,

@laubsauger please clear your PR from code adjustments - it is very hard to read what exactly was changed.

I like idea of both global scripts (there is always something what is needed in global scope). I think there also would be useful possibility to call beforeScript for single test (somewhere inside `casper.each(scenarios` but before `this.thenOpen`)

[2016-02-04 15:01] garris commented on #147
FWIW: the above comment does not represent my attitude at all. 👷

[2016-02-04 15:02] #153 closed

[2016-02-04 15:50] laubsauger commented on #147
Hi y'all,

@garris You're right require()'ing common scripts is the sane thing to do here. Infact i'm doing it already for stuff like login scripts. Just didn't think about using it for this aswell. Case closed :)

Regarding my onBeforeScript use case: I'm working on a site that's drenched in retargeting/marketing/analytics tags. Some of these will screw with caspers detection of the finished page

[2016-02-04 16:01] garris commented on #147
That's what I was guessing but I wanted to make sure.  I can see a benefit to shunting all that ad code so you can work faster.   I can also a benefit to testing with the ad code to make sure it doesn't break what you just worked on.   So, glad this change would enable both cases.  thanks!

[2016-02-04 16:01] crawlem opened #155 "Allow engine triflejs for IE rendering"
triflejs is a headless IE implementation, coded as a port of phantomjs. Any plans to integrate this as an engine? Not sure if the current build of trifle makes this particularly easy!

https://github.com/sdesalas/trifleJS

[2016-02-04 17:43] garris commented on #155
It _would_ be awesome -- but no plans as of yet!   It would need to be done in CasperJS.  Marking as enhancement.   Cheers

[2016-02-04 17:54] garris commented on #147
Thanks! Merged to master.   Could use a little documentation.   I will update the readme as soon as I can.  Feel free to take a stab at it if you're inclined.  🚢   Cheers

[2016-02-05 09:43] laubsauger commented on #147
@garris https://github.com/garris/BackstopJS/pull/156

[2016-02-05 15:39] klausbayrhammer commented on #135
We are using Backstop heavily with Jenkins and so far it works out really well. Currently we commit the reference images into our VCS and use backstop's CLI reporter to verify our pull requests. To guarantee reproducible results we also use a separat jenkins job to create the reference images because the different rendering processes on different operating systems and rendering engines are quite h

[2016-02-09 07:50] klausbayrhammer commented on #145
I think this has more to do with your VCS strategy and the way you set up your CI. Assumed you have something in place like gerrit or you use github-flow with githubs pull requests or gitlab's merge requests and you use a CI like jenkins/travis, backstop can be integrated easily into the verification process of you commits/merge requests (using the CLI-reporter). So Backstops's CLI reporter is pro

[2016-02-09 10:18] mirzazeyrek opened #157 "How to get full page screen shot ?"
Is there a way to get full page screen shots with the specified resolution ?

I'm looking for something like this:

http://postimg.org/image/5wyfcho1b/

[2016-02-09 10:21] kamlesh-astech commented on #145
It is linked with VCS .( on bitbucket and deploybot for repository) but our requirement is to set the automated test runner for CLI reporter(i.e backstpjs) which must run in the background after we push a commit. and check for results getting failed or pass and than it must proceed for deployments as per the results.

[2016-02-09 10:43] kamlesh-astech commented on #145
Since deploybot provides support for working with grunt commands in their backend. We tried to implement it with a trial.

![grunt backstop deployments](https://cloud.githubusercontent.com/assets/14010929/12913813/ea813a16-cf46-11e5-8440-eb13fe49937c.png)

Plz check the screen shots that we have configured to run the backstop setup and than run the test at puch commits intervals.

Now,

http://gra

[2016-02-09 15:13] klausbayrhammer commented on #145
Hm have you set the ```"cliExitOnFail": true,``` in your backstop config? That could probably help you. I've never worked with deploybot but the dropdown menu says that it can work with gulp as well.
Out of curiosity - is there a special reason why you use bower instead of npm to install backstop?

[2016-02-09 17:16] mirzazeyrek commented on #157
It was because of the pages it self. Issue is solved now.

[2016-02-09 17:16] #157 closed

[2016-02-09 17:43] mirzazeyrek opened #158 "clickLabel and click events are not working"
I have tried almost every combinations but no success so far.

Here is my code

`module.exports = function(casper, scenario, vp) {
  casper.evaluate(function(){
	 console.log("somewhat scrolled");
  });

casper.wait(1000);

casper.then(function() {
	 this.clickLabel('Graphic Design', 'a');
});
casper.wait(1000);
};
`

The error:

Testing script failed with code: 1

`Looks like an error occured. Yo

[2016-02-10 17:47] garris opened #159 "add an instantReplay feature (built-in data mocking)"
Sometimes when working with dynamic content, hiding and deleting selectors isn't enough. If we really want to test our CSS changes proper we need to use the same DOM data.  Unfortunately -- it's not always easy to mock data -- especially if we are testing a production site...

Wouldn't it be cool if our `gulp reference` flow *also* captured actual DOM selector data _and_ (as an option) re-injected

[2016-02-11 06:40] kamlesh-astech commented on #145
No there is no specific reason of using bower, it was just due to the step that were mentioned in the setup wizard.

I did changed the configs to "cliExitOnFail": true but still same thing happens, it doesnt get exited after failing test, and the commit gets deployed.

[2016-02-11 07:53] klausbayrhammer commented on #145
Does it even test anything? Normally there should be something in the logs like
[code]
There are also two errors in the log `Error: spawn /bin/sh ENOENT`. Do you know what caused them?

[2016-02-11 08:57] mirzazeyrek commented on #158
Okey, it was because of the page itself, which I want to interact with it.

[2016-02-11 08:57] #158 closed

[2016-02-11 09:02] kamlesh-astech commented on #145
Not sure about runnable tests.
Read many articles on "Error: spawn /bin/sh ENOENT" but didnt understood much into it.

[2016-02-11 10:31] kamlesh-astech commented on #145
I was casually comparing and was checking for error
This is what i found
![compare](https://cloud.githubusercontent.com/assets/14010929/12974145/9d31b8d4-d0d7-11e5-97f6-2ed9d0cf280c.png)

while comparing with the #numbers it states that
1) the grunt commands are running succesfully
2) the configs are unable to locate for the paths for nackstop.json , which outputs for an command error
3) atleast t

[2016-02-12 07:49] #147 closed

[2016-02-12 08:01] laubsauger opened #160 "Folders, Images and compare.json are getting duplicated"
I just noticed that the folders `bitmap_reference` and `bitmaps_test` (and the contained images) are getting duplicated while `gulp test` is running.

At first they are created at the location specified in backstop.json. But as soon as the `compare` step starts they'll get copied or created again right next to the `gulp` folder.

Of course this is more of a cosmetic issue.

Somebody saw this? Any

[2016-02-12 15:08] garris commented on #160
This is by design.  File resources are cached locally so that the report host has guranteed access to the files when tests are run.

[2016-02-13 00:33] #152 closed

[2016-02-15 08:01] laubsauger commented on #160
Uh, guess that makes sense. Thanks for clearing it up.

[2016-02-15 08:01] #160 closed

[2016-02-19 23:16] garris opened #164 "refactor for backstop-core implementation"
`gulp.run()` was used in the initial implementation of BackstopJS and is now deprecated.   It's time we go back and straighten out these logic issues in a more ~~Gulp-friendly~~ (platform-agnostic) way.  Any assistance on this refactor is greatly appreciated!

[2016-02-20 00:48] garris opened #165 "Clean up CLI output"
When running the BackstopJS the command line output is noisy.  Some of that is caused by the gulp implementation (see #164) and some of it is just logging out too much stuff at runtime.  It would be a great service to the community if someone could help out with this terminal hygiene issue!   Namaste.

[2016-02-21 13:33] Grafs opened #167 "Several actions in one viewport?"
Example:
1. Load url in viewport 360x480
1.1. Run scenario 1 for this viewport:
1.1.1. Click element > show element > create selector screenshot > click hide element
1.1.2. Click 2 element > show 2 element > create selector screenshot > click hide 2 element
1.1.3. Click 3 element > show 3 element > create selector screenshot > click hide 3 element
1.1.4. ...
2. Load url in viewport 768x1024
2.1. R

[2016-02-22 05:18] garris commented on #167
I'd suggest doing something like:

Set up your viewports with each of your window sizes and then, create 1.1.1, 1.1.2 &  1.1.3 as separate scenarios.   for each scenario, use a custom script to click your element.  You can even use the same script for all scenarios and just trigger different button click behavior based on the scenario names.  There is probably then no need to hide your elements si

[2016-02-22 07:08] Grafs commented on #167
I understand, but it is not convenient.
For every action you need to reload the page.
I have tried to do so:
[code]
But the result is not written in the compare.json
You can make a recording function in compare.json from the casper scenario?

[2016-02-22 17:15] garris commented on #167
I am curious why a page refresh is an issue for your use case?  Are there side-effects from your element clicks that you are trying to capture?

[2016-02-22 19:26] Grafs commented on #167
For example:
viewport w-320
    click>show and captur hidden element 1 only
viewport w-768
    click>show and captur hidden element 2 only
viewport w-1024
    click>show and captur hidden element 3 only

---------------------
[code]
---------------------
How many images? = 9, of these 6 empty end 9 page refresh
It is better to make a function in scenario for module.exports to capture intermediate

[2016-02-22 19:50] garris commented on #167
It appears your use case has changed.  From your initial example to your last example.  Is this deliberate or is this a typo?  Changing the scenario on me will make it difficult to help you.   If you only want 3 comparisons which all use different viewports then you must use 3 different config files.

[2016-02-24 11:28] kamlesh-astech commented on #63
Hi @YuliaTsareva ,
Is your lightbox for images is done completely???

[2016-02-24 22:34] YuliaTsareva commented on #63
Hi @kamlesh-astech,
Short answer is no.

And long answer:
I implemented it using lightbox2 script in my fork and it satisfied my needs completely. But my solution needed jQuery to be included. As BackstopJS itself doesn't need jQuery (at least, it didn't need it 6 months ago), we decided that this improvement should be implemented in other way.

As I stopped working on a project where I needed Bac

[2016-02-24 23:20] YuliaTsareva commented on #164
In my opinion it would be great if BackstopJS wasn't built on top of Gulp at all :)
It is an extra dependency for projects that does not use Gulp. And can stop developers from adopting BackstopJS.

[2016-02-25 00:06] garris commented on #164
@YuliaTsareva -- I think you have a good point.   What framework or library (if any) would you use if you were to refactor?

[2016-02-25 09:50] kamlesh-astech commented on #63
Can u help to solve error upon " a href unsafe base 64 url" that we get for the diff / mismatch image.

http://grab.by/Oo5m

[2016-02-25 19:05] YuliaTsareva commented on #63
@kamlesh-astech
Try to inject $compileProvider to compareApp.config and add a line:
`$compileProvider.aHrefSanitizationWhitelist(/^\s*(https?|ftp|file):|data:image\//);`

It should help.

[2016-02-26 00:51] garris commented on #164
Maybe this... https://github.com/remy/clite

[2016-02-26 10:34] kamlesh-astech commented on #63
Thanks for ur help. It sorted my issue

[2016-02-26 14:37] #63 closed

[2016-02-26 15:16] joaoffalcao opened #168 "Retina screenshots with half the resolution"
Hi,

I'm trying to use BackstopJS for testing my app and I'm facing a retina issue. Right now, on my `backstop.json` I define my viewports but, after generating my references I obtain screenshots with half the resolutions that I'd defined (comparing to the chrome emulator) because I'm running this tests on a MacBook. Have you ever had this issue? How do you solved it?

Regards,
João Falcão

[2016-02-26 16:34] garris commented on #168
Please post examples of your configure files and output.  Thanks.

[2016-02-26 17:02] lmakarov commented on #135
The current CLI report is human and not machine oriented.
It is useful for a high level manual review of test results in a terminal, but not so much for CI.

In a CI environment scripts are expected to return a correct status code at the very minimum (0 - pass, 1- something failed).
Ideally, a machine-readable report should be generated, which the CI server can parse and analyze (e.g. a junit XML

[2016-02-26 18:01] raypatterson commented on #168
Hi,

Curious about this issue before I start troubleshooting.

Is the expectation that the images would match the screen pixel density?

I am wondering if this is an upstream issue related to:
https://github.com/ariya/phantomjs/issues/10964

Thanks

[2016-02-26 19:55] klausbayrhammer commented on #135
@lmakarov you should try the option `cliExitOnFail:true` which returns 0 if a cli-test succeeded and 1 if it failed. @garris we should probably think about making this the default for the CLI-Reporter.

We could also think about adding the actual test-run (like dimensions or misMatchPercentage) to the `compare.json` so it would be machine-readable

[2016-02-26 20:32] frob commented on #135
++ making this the default

[2016-02-26 21:00] YuliaTsareva commented on #164
@garris Sorry, I am not familiar with such frameworks... if I were to refactor, I definitely would investigate this question :)
I haven't tried clite, may be it is a good tool. But I would suggest to check if there is any well-known project (and with more stars).

[2016-02-26 21:11] garris commented on #135
:+1: on both.  Seems there is some interest in CI -- we could make this use case more workable out of the box.

We should probably just eliminate the `cliExitOnFail` property (always throw on error) and clean up the error trace that's logged to the console when there is a fail.

[2016-02-29 14:50] joaoffalcao commented on #168
I'm still trying to fix this problem.
After some tests, I'm thinking that the issue isn't the retina display because my app uses a different view for tablet and phone and my saved screenshots are from tablet, so maybe that's the problem. Maybe I will need to change the user agent for both cases.

[2016-02-29 18:17] klausbayrhammer commented on #164
@YuliaTsareva @garris I thought about this a couple of weeks ago as well. What I would love to do is to extract something like a `backstop-core` module. This `backstop-core` would basically consist of all components which are needed in order to run backstop and expose the needed functions as plain javascript-functions. Then we could do something like `gulp-backstop` (or just call it `backstop` to

[2016-03-01 18:03] garris commented on #164
@klausbayrhammer     Yes, Totally. I really like the bring-your-own-wrapper direction.

[2016-03-02 05:01] kamlesh-astech commented on #146
Hi, @garris
The above reference is not helpful up to the mark.

Is here anyone who has knowledge in loading an slider content on intervals so that the backstop may be able to capture screenshots at its particular time intervals with respective to its content

Thank you in advance

[2016-03-02 05:04] kamlesh-astech commented on #145
Does any one have an reference regarding this issue

[2016-03-02 07:45] jasonhick commented on #146
Hi,
You'll need to use CasperJS to simulate actions in your browser. There are instructions on using this in the Backstop readme ;)

[2016-03-02 10:40] joaoffalcao commented on #168
After tries, I figured out that the problem was, in fact, the user agent and not the retina. So, I will close this issue.

[2016-03-02 10:40] #168 closed

[2016-03-02 14:27] joaoffalcao commented on #127
Hi,
I want to set my misMatchThreshold to 0% in all scenarios, how can I do it?
I've set it on each scenario with ```"misMatchThreshold" : 0.0,``` but when the report opens, the setted value of misMatchThreshold is 1.

My backstop.json is something like
[code]
What am I doing wrong?

Regards,
João Falcão

[2016-03-02 14:40] garris commented on #127
0 is considered invalid -- you can try a very small fraction but I don't know if that would work.  .00000001

[2016-03-02 14:42] joaoffalcao commented on #127
Hi @garris, I tried the "misMatchThreshold" : 0.0000000001, and it worked.

Many thanks!
João Falcão

[2016-03-02 16:08] garris commented on #127
Great!   Cheers.

[2016-03-02 16:44] raypatterson commented on #168
Hope I'm not hijacking your issue @joaoffalcao, but would you mind sharing your solution for generating retina images? I don't understand how you are changing the user agent to generate retina images.

Thanks

[2016-03-02 17:12] joaoffalcao commented on #168
@raypatterson actually, I'm not setting the user agent, on my app I have to set a class on the html, so on `onReady.js` I did something like
[code]
I'd tried to set the user agent `onBefore.js` but it didn't worked.

[2016-03-02 17:13] garris commented on #168
@joaoffalcao  Glad you were able to figure it out!   Cheers.

[2016-03-02 17:19] raypatterson commented on #168
@joaoffalcao ok thanks for explaining!

[2016-03-03 08:59] MatteoWebDesigner commented on #52
Hi I guess something has changed even if I set mismatch 0.1, the value is not used. Is there an example showing the correct way to config this setting. Thanks

[2016-03-03 14:38] garris commented on #52
What version are you on?

[2016-03-03 21:17] MatteoWebDesigner commented on #52
1.1.0
config: https://github.com/MatteoWebDesigner/CSS-Architecture/blob/master/backstop.json

[2016-03-03 21:33] garris commented on #52
@MatteoWebDesigner

this line
https://github.com/MatteoWebDesigner/CSS-Architecture/blob/master/backstop.json#L54

should be

     "misMatchThreshold": 0.1,

(you have `"misMatchThresh": 0.1,`)

[2016-03-03 21:59] MatteoWebDesigner commented on #52
I see :O https://github.com/lewisnyman/BackstopJS/blob/f6d2a09d8556294f85fce1ee1bfa625143ce5db0/capture/echoFiles.js#L19

thank you now works fine.

[2016-03-03 22:42] garris commented on #52
Cheers.  :+1:

[2016-03-08 15:34] wjramos commented on #164
+1 on @klausbayrhammer's suggestion of a more agnostic core package

[2016-03-09 20:46] benjaminfisher opened #171 "Windows: Testing script failure with "the system can not find the path specified" console error."
I'm following the steps laid out in https://css-tricks.com/automating-css-regression-testing/

Attempting to run this on a Windows 7 Enterprise SP1 box. Both the reference gulp task (which is generating reference image files) and the test gulp task are throwing `Testing script failed with code: 1` and the test page is not launching in the browser.

Here is the output from `gulp test`
[code]

[2016-03-09 22:07] garris commented on #171
@benjaminfisher thanks for posting.  Just earlier today I resubmitted a long-overdue update to that article -- which is woefully out-of-date.  My guess is that the new article will be live in a week or so.

In any case, if you want to run this down I would suggest just running this...

[code]

Just to make sure that your install is working.  If that doesn't work you could try to reinstall using th

[2016-03-10 14:52] paweltin opened #172 "Scenario with has in URL does not create a screenshot"
This is the scenario:
[code]
I'm using SlimerJS as an engine. Browser renders the page correctly (scrolls to correct section) but there is no corresponding screenshot in `bitmaps_reference` after running the test

[2016-03-10 18:51] #167 closed

[2016-03-10 19:06] garris commented on #164
Ok.  FWIW:  I have just simplified installation by removing all global NPM dependencies and migrated the `Gulp <command>` idiom to the more compatible `npm run <command>`  idiom.  So, all that is now needed for installation is `npm install backstopjs` _no more `npm install <package> -g` required._

Everything is backward compatible. `Gulp <command>` will actually still work -- so long as the addit

[2016-03-10 19:18] garris commented on #23
Done.  Closed with release https://github.com/garris/BackstopJS/releases/tag/1.2.0

[2016-03-10 19:18] #23 closed

[2016-03-10 22:54] benjaminfisher commented on #171
npm install of BackstopJS results in the same error with both gulp reference, and gulp test.

[2016-03-10 23:32] garris commented on #171
What version of BackstopJS are you using?

[2016-03-14 21:21] benjaminfisher commented on #171
I've updated to the latest version of Backstop (1.2.1). `npm run genConfig` runs with no errors. Both `npm run reference` and `npm run test` give the same error previously mentioned.

`npm run test` doesn't automatically open the browser, but `npm run openReport` does.

[2016-03-14 21:21] benjaminfisher commented on #171
Closed accidentally. Sorry.

[2016-03-14 23:20] garris commented on #171
Thanks for updating the issue and thanks for pulling down the most recent version.

The most suspicious line in your log is the one that says:  `the system can not find the path specified`.   Seeing as you're on windows and paths are specified differently across platforms, I'm suspecting there is something internal _or even in the config_ which is confounding the write to disk operation.

I will r

[2016-03-15 15:00] benjaminfisher commented on #171
That error seems to be specific to my machine, and I get it no matter what I try to run in the command line. I don't think it's related, since it hasn't actually stopped me from doing anything else. I really should track that down, and fix it :)

[2016-03-15 18:11] gerbilsinspace commented on #171
@benjaminfisher are you using the default command prompt, or something else? I've noticed this issue when using git bash. I can't test any more until I get back in the office tomorrow, but I'll try to do my part debugging this.

[2016-03-15 19:01] benjaminfisher commented on #171
@gerbilsinspace I have been using git bash for the unix support, but I've seen the `system can not find the path specified` error when using the vanilla Windows cmd prompt.

[2016-03-15 19:06] benjaminfisher opened #173 "SlimerJS not generating reference images"
I've noticed issues with flex-box rendering in PhantomJS, so I tried switching to SlimerJS.
I installed it globally using npm on Windows 7 64bit, and modified the backstop.json file as directed in the README.md file:
[code]

Running `npm run reference` gives:
[code]

And no image files are generated in the `/backstop_data/bitmaps_reference` folder.

[2016-03-15 19:13] garris commented on #172
@paweltin I just tried this myself and got some unexpected results.  It may be related to this... https://github.com/n1k0/casperjs/issues/468

[2016-03-15 19:14] garris commented on #171
Are you able to create a file in node?  Could permissions be an issue?

[2016-03-15 19:17] garris commented on #173
@benjaminfisher I think this is related to your other issue -- maybe tackle this one at a time... https://github.com/garris/BackstopJS/issues/171

Marking as duplicate.

[2016-03-15 19:29] klausbayrhammer commented on #164
@garris this is a great first step! As a second step we could try to have those `npm run` scripts call plain javascript functions (which can be used by the gulp-tasks as well). This would be a pretty neat improvement if you want to use backstop in an existing gulp-build, because you can get rid of gulp-chug. Although there are a couple of things to consider, I think this refactoring has a digestib

[2016-03-15 21:08] benjaminfisher commented on #171
1. Yes
2. Doesn't seem to be.

[code]

[2016-03-15 22:00] benjaminfisher commented on #171
Resolved issues with `the system can not find the path specified.` error, and that does seem to have resolved this particular issue. I'm not getting the `Testing script failed with code: 1` error anymore, and the `npm run test` is auto-opening the browser now. However changing the engine to SlimerJS is still not generating reference screen shots.

[2016-03-15 22:02] benjaminfisher commented on #171
@gerbilsinspace By the way I resolved the path issue in cmd by following the steps in the first answer on http://superuser.com/questions/727316/error-in-command-line-the-system-cannot-find-the-path-specified

[2016-03-15 22:18] garris commented on #171
Wow. Thanks for sharing this.  I have updated the title with  `the system can not find the path specified` to hopefully help other windows users who have this issue.   I will reopen your other bug.

[2016-03-15 22:18] #171 closed

[2016-03-15 22:19] garris commented on #173
Not a duplicate.

[2016-03-17 13:52] benjaminfisher commented on #173
With the engine set to slimerjs in the backstop.json config fie I get the following output to the console:

[code]

However no images are created in bitmaps_reference.

[2016-03-21 15:26] garris commented on #173
Sorry @benjaminfisher,  I can't reproduce this.   Can you confirm there are no files saved in the bitmap_reference folders?  Could you maybe try this on a different machine?

In trying to reproduce, I _did_ find a bug with the browser report not running properly in some cases -- but I think this is unrelated.

[2016-03-21 15:44] garris opened #175 ""browser" reporting option fails with "SlimerJS" option _and_ "CLI" option"
To reproduce:

1) do a clean install and run `npm run genConfig`
2) update config to use `slimer` Rendering engine.
3) when running a test, the browser app fails (404 when requesting comparison image)

Workaround:

Just use "CLI" _or_ "browser" option.   Not both.

[2016-03-23 00:01] michael-tung commented on #140
could you share an scenario example of how to setup the referenceURL vs staging URL in the JSON file with this new feature? (sorry for noob question)

What are the steps involved?
- setup referenceURL in backstop.json file
- run gulp reference
- run gulp test

obj: compare a page on prod vs staging and find the diff

I tired setting it up like this but it does not seem to work.

Please help.

"sce

[2016-03-23 01:06] chipcullen commented on #140
@michael-tung _each scenario_ needs a reference and a test url. So, mine look like this:

[code]

Does that make sense?

[2016-03-23 01:24] michael-tung commented on #140
Absolutely!! Thanks a bunch!

[2016-04-05 12:09] LukasLt commented on #130
Is it possible to add check before starting to know if selected port is taken, and if so - give any error message?

I just had the same issue with browser sync (I totally forgot it was running form yesterday), and despite doing it on fresh install I got no success. For me it was was pure luck to notice that the issue is taken port and not some broken dependency causing this.

Thanks!

[2016-04-07 07:19] LukasLt opened #176 "Check if selected port is free"
Is it possible to add check before starting to know if selected port is taken, and if so - give any error message?

I know you can set port manually (https://github.com/garris/BackstopJS/issues/130), but for new users its easy to miss.

I just had the same issue with browser sync (I totally forgot it was running form yesterday), and despite doing it on fresh install I got no success. For me it was

[2016-04-07 13:16] garris commented on #176
Thanks for the post.  Feel free to put up a PR for this.  I am happy to pull that in.  Cheers.

[2016-04-08 01:30] peteraverianov opened #177 "Any plans on moving image comparison logic out of browser?"
I noticed that all the logic for image comparison happens on browser side using resemble.js
Screenshots and scenarios could be pretty big.
Do you have any plans on moving this logic outside of browser (maybe using this package or something similar) https://www.npmjs.com/package/node-resemble-js?

[2016-04-08 01:46] garris commented on #177
We're already using node-resemble for the CLI reporting option.   No plans for changes in the browser version -- but feel free to send a PR if you have a good optimization.

[2016-04-11 15:06] rapidfixer opened #178 "Run multiple CasperJS files for scenario"
Hello.!
Say i've got application consisting of some components. I want to use separate **CasperJS** tests (separate files, to be more exact) for every component, but to run them all in certain scenario (maybe in all)
How can i do it? As far as i understand, **backstop.json**`s _'onReadyScript'_ contains module that already receives _'casper'_ instance.
Only solution that i see is using some bundle

[2016-04-11 15:36] garris commented on #178
Yes, you will need to compile your app components together first -- then test.

[2016-04-11 16:36] rapidfixer commented on #178
No, not app components. of course my app is already bundled at the moment of testing :)
I mean separated casper test script files. And all i've found was _--includes_ option in CasperJS CLI, but that is unuseable in our case.
Will try to bundle tests together.

[2016-04-11 16:44] garris commented on #178
Oh, I understand now.  Maybe you could just create an "index_casperScripts.js" and in that file just `import` your various scripts that way?   I think this would eliminate the need to concat them together -- perhaps it would let you use logic to import the correct scripts based on the scenario.   Hope that helps!

[2016-04-11 17:07] skfd opened #179 "Completes but does not produce anything"
How do I debug BackstopJS, to find why it does not produce anything?

Console output in `debug` mode:

[code]

[2016-04-11 17:16] garris commented on #179
For this, I would create a simple harness in CasperJS to run your application.  From the error message, it looks like the twilio script is unhappy.  I would use an un-minified version of that to get closer to the root of the issue.  Good luck!

[2016-04-12 21:50] michael-tung opened #180 "selector body:nocllp error"
v1.2.1

In my scenario. I am using the body:noclip to invoke a full screen capture  instead of casper.captureSelector(), thus below is my setting.
...
"selectors": [
        "body:noclip"
      ],
...
npm run test > fails at 'compare' as it could not find the 0_bodynoclip_0_phone.png as there is no such file in my backstop_data. Is my scenario setting for body:noclip correct in order to capture a

[2016-04-13 15:11] rapidfixer commented on #178
Combining tests via webpack with _'commonjs2'_ libraryTarget setting. Works as expected.

[2016-04-13 15:11] #178 closed

[2016-04-13 16:50] garris commented on #178
Glad it worked out.  Thanks for posting!

[2016-04-20 14:26] bogatyrjov opened #182 "Using JS config and Gulp"
Using JS module for config instead of JSON ( npm run test -- --configPath=config.js ) is very handy but apparently it can't be used with built in Gulp tasks?

Any ideas how to use Gulp and JS config at the same time? If not possible, then that could be a great feature to add to backlog.

[2016-04-20 15:49] garris commented on #182
I think you probably need to import gulp into the config file.   Have you tried that?

[2016-04-21 12:51] bogatyrjov commented on #182
What do you mean and how would that work? I don't get it.
My goal is to just use 'gulp test' but make it load config from js, not the default json.

[2016-04-21 14:38] garris commented on #182
Sorry, I don't quite understand your issue. Please post an example of what you're trying to do.

[2016-04-21 14:46] bogatyrjov commented on #182
`npm run test` takes conf from backstop.json
`npm run test -- --configPath=config.js` takes conf from config.js
`gulp test` takes conf from backstop.json

Question is how to run `gulp test` with conf from config.js ?

[2016-04-21 17:14] garris commented on #182
Ok. I see what you want to do.

Unfortunately, that approach is not really supported at this point.  It's probably possible to do this tho -- but you'd need to troubleshoot it.  You could also try the `gulp-chug` plugin, maybe it will help...
https://www.npmjs.com/package/gulp-chug

Hope that helps.  Please post back if you figure it out.  Thanks.

[2016-04-22 06:23] klausbayrhammer commented on #177
@peteraverianov @garris  I'm not sure if I understand you correctly. You could either use the browser reporter (with resemble.js) or the CLI-Reporter (which uses node-resemble.js). But neither wouldn't change the size of the screenshots.

[2016-04-22 06:38] klausbayrhammer commented on #108
I just ran into the same issue. What about either:
* Add the module path to slimerjs' require.path `require.paths` see the [Docs](https://docs.slimerjs.org/current/api/require.html)
* When loading casper scripts we could check if engine is slimer and the path is absolute and stop the test if not.

[2016-04-22 08:37] bogatyrjov commented on #182
Ok, gulp-chug actually has an option to include arguments, so this task in my project's gulpfile solved my case:

[code]

[2016-04-22 08:37] #182 closed

[2016-04-22 14:28] garris commented on #182
Thank you for posting the resolution. 👍 Cheers.

[2016-04-22 14:32] garris commented on #108
Looks good to me.

[2016-04-23 11:39] ryami333 commented on #157
Hey @mirzazeyrek I'm interested in hearing how you achieved this?

[2016-04-23 12:19] mirzazeyrek commented on #157
@ryami333 as far as I remember it was adding body tag to the selectors.

[2016-04-26 16:07] fbucchi-gpsw opened #183 "Specify browser to use"
Hello,

is there a way to specify the browser to use for the webdriver?

I would like to be able to specify Chrome or IE for example.

Thanks

[2016-04-29 10:18] chrneumann opened #184 "Running with configPath setting results in file not found error"
If I try to specify a js config, I get the following error. Everything seems to work fine if I use a json config and call `npm run reference`.

[code]

[2016-05-03 12:52] racer2207 opened #185 "Reporting a better error message in test.js"
I was getting the error _Testing script failed with code: 1._ when attempting to create the reference images with _npm run reference_. I'm on a win32 platform and finally figured out the real issue by adding the following code to the test.js file.

`casperChild.stderr.on('data', function (data){
	  console.log("CasperJS:" + data.toString());
  });`

Turns out that CasperJS requires Python.exe to b

[2016-05-03 17:32] garris commented on #185
Thank you for posting the solution to this!  I'd like to add this note to the documentation.  Would you mind telling me what resource you used to install python? _e.g. the command, version, repo, etc._

[2016-05-04 13:02] racer2207 commented on #185
I installed the latest version of Python from [www.python.org](https://www.python.org/downloads). The direct link is [Download Python 3.5.1](https://www.python.org/ftp/python/3.5.1/python-3.5.1.exe)

From there I just installed their software suite and made sure my PATH variable included python.exe. Someone could do a custom install and only add python.exe.

[2016-05-04 14:01] garris commented on #185
Thanks!

[2016-05-04 14:01] #185 closed

[2016-05-10 13:05] cehter opened #187 "React and BackstopJS"
I want to use BackstopJS for our new react application, but I just got the following errors after I run
 `npm run reference`

If I use phantomJS as an engine:
[code]

If I use slimerjs as an engine:
[code]
After some research I found a [bug report at phantomjs ](https://github.com/ariya/phantomjs/issues/13304). But this problem should not be there if I use slimerjs or?

[2016-05-10 16:35] garris commented on #187
It's hard to figure out what's going on by looking at your output.   Looks like there is an error in your app -- you might look there.   BackstopJS works with react just the same as any other app.  Here is a simple react app example (follow the readme to install) https://github.com/garris/BackstopJS/blob/master/test/simpleReactApp.zip

Hope this helps.

[2016-05-10 16:50] JayGray commented on #187
If I look at `JavaScript Error: "ReferenceError: Symbol is not defined"` I would guess the `bundle.js` has ES6 syntax. AFAIK neither slimerjs nor PhantomJS supports ES6. You might need to transpile it down to ES5.
[Symbol](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol)

[2016-05-10 17:26] cehter commented on #187
Thank you @garris and @JayGray. I didn't think about the ES6 support, we use the ES6 syntax. Will test it with ES5.

[2016-05-10 17:26] #187 closed

[2016-05-10 20:23] alololox opened #188 "Divs with lots of children appear empty in reference and test images"
When I run a reference or test, I am occasionally seeing divs with a number of children appearing as blank—only displaying the background-color property. Screenshot attached:

<img width="1268" alt="screen shot 2016-05-10 at 1 23 25 pm" src="https://cloud.githubusercontent.com/assets/9326713/15161276/6259c708-16b2-11e6-99b5-0f1eb6372c3e.png">

[2016-05-10 20:57] garris commented on #188
@alololox  Thanks for posting.   It could be that you are using CSS that hasn't been implemented in PhantomJS yet (It's significantly behind the latest -webkit).   You might want to try using the SlimerJS engine option and see if the problem fixes.  https://github.com/garris/BackstopJS#changing-the-rendering-engine-version-060

Otherwise, you would debug it by commenting markup until the problem g

[2016-05-11 13:28] mrdevin opened #189 "Only Last Viewport and Last Scenario Are run."
[code]

I only get Desktop images for the second scenario Object.

What could cause this?

[2016-05-11 13:35] mrdevin commented on #189
`onBeforeEach.js`
[code]

that causes my issue. So I changed it to:

[code]

[2016-05-11 13:35] #189 closed

[2016-05-11 16:29] garris commented on #189
Thanks for posting.  I will add this example to the boilerplate file to help other with the same issue.  Cheers.

[2016-05-12 05:41] ashokkumar opened #190 "npm run reference/test gets stuck"
While running the npm run reference/npm run test sometime it gets stuck. I did some debugging and found that in capture/genBitmaps.js on line number 88 this.thenOpen(url, function() the callback is getting called even after the page is loaded fully.

I tried setting the stepTimeout and not stopping the process onStepTimeout and continuing it fixed the issue.

But just trying to understand what I a

[2016-05-16 13:23] sturobson opened #191 "testing a 'folder of files' locally."
Is it possible to test 'everything' from the url provide? For example I have a load of design patterns that can be accessed via `http://localhost:3000/components/preview/` ... currently I need to add the pattern i want to test rather than being able to test everything all at once ... is this possible?

[2016-05-16 20:30] garris commented on #191
@sturobson Thanks for posting!   I'm sorry but I am not sure I understand your question -- could you maybe post an example?

[2016-05-16 21:27] sturobson commented on #191
@garris sorry, let me try again :)
Is it possible to use this on multiple pages at once, or is it restricted to one .html file at a time? I've a large pattern library and was wondering if it was possible to point BackstopJS at the folder of patterns for it run through. Does that make better sense? Thanks for replying :)

[2016-05-16 21:48] garris commented on #191
Ok. I understand.  Yes.  You can do this using [a module based config file](https://github.com/garris/BackstopJS#using-a-js-based-config-file-version-100).

Instead of hard-coding your config, you would create a three step process.
-- Step 1: use node FS to look inside a target directory and create an array of file paths you want tested.
-- Step 2: create a new scenarios array by cloning a base sc

[2016-05-19 00:59] nobso opened #192 "Test report in both XUnit and LCov?"
I'm using Jenkins in my CI and that accepts test report in JUnit  XML format. Is there a way that i can create that using any commands at the moment?

[2016-05-19 14:02] LukasLt commented on #183
You can select engine to use. PhantomJS uses webkit (more or less Chrome),  SlimerJS uses Gecko (more or less Firefox).

[2016-05-19 17:35] nobso commented on #192
@garris do you have any comment on this requirement?

[2016-05-24 03:34] qileilove commented on #44
@TimPerry  hi Tim, I used the demo for cookies,but it didn't work.
[code]

[code]
what's the meaning of  this piece of code ?
({some:'cookie'}) is cookie file or the cookie hash?

[2016-05-28 01:11] garris commented on #192
@nobso apologies for the delay!

So, here is the loop where server side comparison reports are generated...
https://github.com/garris/BackstopJS/blob/master/gulp/tasks/compare.js#L37

 I think you could potentially build up the kind of report you'd want inside this loop.   You could potentially add that as an option flag or as a configurable plugin.  It sounds like the kind of thing that others ma

[2016-05-28 02:03] nobso commented on #192
@garris Cool, i'll raise a PR for the same.

[2016-05-28 06:24] nobso commented on #192
@garris I've raised a https://github.com/garris/BackstopJS/pull/194 for the same, please review and let me know if you have any comments

[2016-05-28 06:24] #192 closed

[2016-05-30 16:28] TimPerry commented on #44
That would be the cookie hash. I believe it is a call to this method in phantomJS: http://phantomjs.org/api/webpage/method/add-cookie.html

[2016-05-31 21:48] declanmagee opened #195 "Cannot run reference or test - keep getting Testing script failed with code: 1"
Hi there,

I keep getting
`Testing script failed with code: 1 `
when i run npm run reference

When I chug to my project gulp file and run gulp reference I get the following error
[code]

Would you have any ideas?

node -v = 4.4.4
npm -v = 2.15.5

[2016-06-01 01:50] garris commented on #195
Some other windows users had a similar issue.  Does this issue address your problem?   https://github.com/garris/BackstopJS/issues/185

[2016-06-01 06:10] dixit4patel commented on #190
Can you give code sample here. I am also facing same issue. Its urgent.

[2016-06-02 09:47] mrdevin opened #196 "should the Bless command move the test images into the reference image folder?"
This would save me from having to take reference screenshots again.

[2016-06-14 02:23] angelariggs opened #200 "Casper Scripts Causing Skipped Scenarios"
I added a CasperJS login script for 3 (of about 60) scenarios.
[code]
I ran the commands for reference and test for each of the 3 scenarios separately, just to verify that the script logged in and then took the screenshots, and it works as expected. However, when I run the reference on my whole config file (I'm using a JS config, instead of the default JSON config), the reference starts at the sce

[2016-06-14 02:41] mathesond2 commented on #191
@sturobson did you complete this script? Would love to take a look..thanks!

[2016-06-14 07:10] garris commented on #200
Hmm,  could you maybe provide a gist of your setup.  That sounds like something to look into...

[2016-06-14 12:48] LukasLt opened #201 "Add support for callbacks, if config loaded as js module"
BackdropJS supports using configuration as js module, however it doesn't take the best out of it.

Using simple callbacks we modify settings on the fly. Think about:

- filter to change reference file name (#137). User could set any name he wishes including custom data (e.g. date stamp to keep backlog; engine, so he could use both Phantom and Slimmer

- filter to alter scenario. Change scenario UR

[2016-06-14 16:53] angelariggs commented on #200
@garris Yes! Can you clarify what you'd like me to provide? E.g., my config file, or the process I used to set up, or...?

[2016-06-14 19:02] garris commented on #200
The config would be a good start.  Please add any other relevant files e.g. the onBeforeScript.

[2016-06-14 19:19] angelariggs commented on #200
I've added .txt versions of my config file (backstopJsConfig.txt) and my Casper file (userLogin.txt). In the config file, I use the userLogin.js in 3 scenarios, as `"onBeforeScript": "userLogin.js"`.
[backstopJsConfig.txt](https://github.com/garris/BackstopJS/files/314753/backstopJsConfig.txt)
[userLogin.txt](https://github.com/garris/BackstopJS/files/314754/userLogin.txt)

[2016-06-14 19:37] garris commented on #200
So, Are you saying that when you run the 3 login scenarios on their own they complete without any errors?

[2016-06-14 20:15] angelariggs commented on #200
When my config file includes scenarios with custom Casper scripts, and I run the reference or test commands, Backstop starts the screenshots at the second scenario with the Casper script (line 710, `"label": "Schrod Downloads Landing Page (TODO: CASPER: LOGIN)"`), and proceeds through the rest of the scenarios to the end of the config file. It skips all of the tests above line 710. When I comment

[2016-06-14 20:23] garris commented on #200
Can you please make a new simple config file *just for troubleshooting* with 3 scenarios?   Please keep it to a bare minimum and exclude onBeforeScript.  Then run that.

Then duplicate that file and add the onBeforeScript.  Do you have any issues in this case?

[2016-06-14 20:29] angelariggs commented on #200
Ack, yes! Sorry I didn't do that sooner :) New config / comments coming in just a minute!

[2016-06-14 20:31] garris commented on #200
Yup. Just want to rule out a missing comma etc. 😉

[2016-06-14 21:17] angelariggs commented on #200
Here's the pared-down, Casper-only version of the config file :) I'm seeing the same issue. When the Casper files are commented out for the scenarios, Backstop works as expected. When the Casper file is included for each scenario, the only reference screenshot is a desktop screenshot for the last scenario.
I've included a screenshot of my Terminal window, after running the reference command with t

[2016-06-15 00:44] garris commented on #200
@angelariggs So, I am concerned there is a bug in here somewhere.  I need to leave for the day.  If it's possible you could maybe try experimenting with your login script.   Perhaps try to confirm that the login is really successful before the rest of the test executes.

[2016-06-15 00:48] angelariggs commented on #200
(I'm replying now, but I definitely understand it's the end of your day, and won't expect an answer back tonight 😄  ) The login interaction is successful with the userLogin.js. When I run each scenario separately to test that, the reference screenshot does show the logged-in screen.

[2016-06-15 03:27] garris commented on #200
If you commented all the before scripts except in the first scenario, what happens?

[2016-06-15 15:56] angelariggs commented on #200
When I comment out all `before` scripts except the first scenario, the reference command results in 5 screenshots (not 6 as expected - it skipped the phone viewport for the first scenario). The test command was 'successful' - it also skipped the first scenario's phone viewport screenshot.
None of the `before` scripts worked - all of the screenshots, both reference and test, were of the various pag

[2016-06-15 16:01] garris commented on #200
Ok.  So IOW any scenario running the before script dies?  What if you simplify the before script?  Can you track down which command is hosing execution?

[2016-06-15 16:24] angelariggs commented on #200
(Assuming IOW = in other words) Yes. For instance, when I comment out all `before` scripts except in the _second_ scenario: the reference command skips both screenshots in the first scenario, does a desktop-only screenshot in the second scenario, and does both screenshots in the last scenario. Also without logging in any of them.
I'll work with the lines of code in the before script to see if I ca

[2016-06-15 16:47] angelariggs commented on #200
It's definitely something in the `casper.start` or `casper.fill` code. If I just have an echo or a wait, all six scenarios are referenced and tested as expected. If I comment out the `casper.wait` and `casper.echo`'s, and just have
[code]
the issues are still happening. I don't think I can really pare it down further than that.

[2016-06-15 16:54] angelariggs commented on #200
Actually, I did a bit more paring down, to remove the login portion and just have the `casper.start`, and got the same errors as previously.
[code]

[2016-06-15 18:04] garris commented on #200
Could you try changing your script a little bit -- pattern it this way...

[code]

[2016-06-15 18:21] angelariggs commented on #200
I tried that script, and got in Terminal `Testing script failed with code: 1`. I tried adding a `casper.echo` before the `casper.start`, and it didn't get even to that point - just exited with the same Terminal message.
[code]
I've attached a screenshot of the Terminal output after running the reference command, in case that helps shed any light.

![angela-garris-refactored-before-script](https://

[2016-06-15 21:01] garris commented on #200
can you run `npm run echo` instead of `npm run reference`.   `echo` outputs debug info.  Please see if that sheds any light.  At this point I am not sure it is a Backstop issue -- but if possible, I'd still like to know what the issue is...   Thanks for your help troubleshooting!

[2016-06-16 02:08] irunatbullets opened #203 "Is it possible to take screenshots of every element with the same selector?"
Hello, I have a page with a bunch of examples, each wrapped in a div with class .example. I'm wondering if it's possible to get BackstopJS to screenshot each one of those for comparison? Straight out of the box it appears to only give me one result when I have:

[code]

[2016-06-16 03:00] garris commented on #203
If you don't need a lot of reporting detail, you could just capture the enclosing parent element (e.g. '.exampleContainer').

Otherwise, you'll need to be explicit and tack on something like ':nth-of-type(n)' to your selectors.

[2016-06-16 03:15] kabadesu commented on #203
I see. Yeah, it's probably better to get the reporting per example. Perhaps it would be better to split the examples into their own pages for testing and then stitch them all together for viewing on the site anyway.

Thanks very much. You can close this now.

[2016-06-16 04:07] garris commented on #203
Just a thought,  if you need something more dynamic you could switch to a js based config.   In that case, in your config, you would add a script to read in your page, count the '.example' references then map that count to a selector array of n selectors.  You'd return that as the value for the 'selectors' property and boom.

Please post your solution back here if you manage to do it -- it would b

[2016-06-16 05:15] kabadesu commented on #203
The is a good idea. I'll have a go and report back. It may take a wee while.

[2016-06-16 08:02] dummdidumm opened #204 "Publish to npm"
The latest release and therefore last publish to npm ( https://www.npmjs.com/package/backstopjs ) was three months ago. Is there a reason for this? Some cool new features are missing for users who want a quick "npm install".

[2016-06-16 15:14] garris commented on #204
Which feature(s) are you interested in?

[2016-06-16 18:38] OleVik opened #205 "Old diffs in report"
Having some trouble understanding the tasks and their operability, I seem to be getting the incorrect images for diffs in the report after running `gulp reference` and then `gulp test`. For example, the source on the report reveals that images from `bitmaps_test/20160616-191947` are shown when `bitmaps_test/20160616-201429` are newer. Is there some caching mechanism in the generation of the report

[2016-06-17 15:02] dummdidumm commented on #204
Mainly the test report integration through "CI" .

[2016-06-17 16:01] garris commented on #204
Ahh yes, I really like this group of features-- but before publishing that I wanted to give plenty of time for others to test out the various features.   I would love to hear how you have integrated BackstopJS into your CI.   How easy or hard it was and how you manage workflow/validation of UI changes.

[2016-06-17 16:02] garris commented on #204
Sorry, accidentally hit close button...

[2016-06-20 12:04] dummdidumm commented on #204
We use backstopJS as a regression / integration test tool for our angular web application.
- Build showcase for a component
- Write backstopJS test for that showcase
- Periodically run tests
The last part is integrated with a jenkins-job that is run after a new build of the project. The job is already up and running using the CLI function, but the feedback loop is a bit cumbersome without the CI o

[2016-06-22 21:26] nobso opened #206 "Published npm package does not have the test report generation feature."
Hi @garris can you please publish the new package?

[2016-06-22 21:56] garris commented on #206
Boom!   1.3.1 has shipped. 🚢

Thank you for your help on this one!

[2016-06-22 21:56] #206 closed

[2016-06-22 21:57] nobso commented on #206
@garris Thanks 😄

[2016-06-22 22:02] garris commented on #204
Thank you for the feedback.  That is very helpful!

Also, some good news -- we shipped version 1.3.1 today.  I very much appreciate your patience -- this is a labor of love so sometimes it takes longer than we'd like to ship.

Cheers.

[2016-06-22 22:02] #204 closed

[2016-06-22 22:13] garris commented on #196
Sorry for the delay replying -- I see where you're going with this.   The `Bless` you're referring to should maybe be called BlessConfig -- because that is really it's purpose.

As far as images go -- there is already feature request to enable "promoting" a test image (or all images) to a reference image.   If you have created that, please feel free to submit a PR -- it would be super useful.

Che

[2016-06-23 07:05] kamlesh-astech commented on #203
Hi @kabadesu did you find solution on the suggestion provided by @garris

[2016-06-23 08:41] rjokelai opened #207 "Possibility to capture viewport"
I have a `position:fixed` element that overlaps a scroll container. Is there an easy way to capture a screenshot of the whole viewport instead of a selector?

[2016-06-23 18:57] NataG commented on #183
Anything for IE at all?

[2016-06-24 05:36] kamlesh-astech commented on #207
in such case u can use body to capture screen

[2016-06-24 20:26] Steven-Pingel commented on #207
At least in my case selecting body does not capture the entire page, it cuts off the bottom of the page.

[2016-06-24 20:40] garris commented on #207
@Steven-Pingel there is a commit of BackstopJS which allows you to specify "viewport" as a selector.  I haven't been able to test it yet -- but I will merge it to master and you can give it a try.  I will let you know when it's up -- pls give me 15 mins...

[2016-06-24 23:18] garris commented on #207
ok.  the update is in master.
 install with `npm install garris/backstopjs#master`

for instructions, please see...
 https://github.com/garris/BackstopJS#capturing-the-entire-viewport

Please let me know if it works -- I haven't had time to test it myself!

Thanks!

[2016-06-24 23:31] garris commented on #207
@rjokelai @Steven-Pingel @kamlesh-astech Document capture feature is ready to test.  Thank you.

[2016-06-27 03:58] rjokelai commented on #207
Thanks! The `document` selector indeed works better

[2016-06-27 03:59] rjokelai commented on #207
Oops, accidental close. Probably want to do this in a commit...

[2016-06-27 04:13] garris commented on #207
Thanks for verifying!   This is in the latest release 1.3.2.   Cheers.

[2016-06-27 04:13] #207 closed

[2016-06-27 04:20] kamlesh-astech commented on #207
Hello @garris, You mean to say we just have the call document within selectors and no need of any other elements..
Am I right ?

[2016-06-27 04:58] garris commented on #207
You can use as many selectors as you like.

[2016-06-27 05:10] kamlesh-astech commented on #207
ok thanks

[2016-06-27 13:50] mousemke opened #210 "Having trouble generating ci_report"
I'm trying to generate ci reports to integrate with jenkins, but whatever i try, i cant get it to output a file.  I've added "CI" to the `json`, as well as changing the directory repeatedly.  it wont generate a report and doesnt throw an error

vague prob, i know, but i can provide code if necessary.

[2016-06-27 14:34] garris commented on #210
What version are you using?

[2016-06-27 14:47] mousemke commented on #210
`^1.3.2`

[2016-06-27 15:02] garris commented on #210
@mousemke could you please post your config file and any other info here.

@nobso Since this is your feature, would you mind taking a quick look?

[2016-06-27 15:07] mousemke commented on #210
mostly default https://gist.github.com/mousemke/77e08417d3c6b3852481b75d51e89a3c

but i've toyed with plenty of options (setting the directories, doing `["CI"]` only, etc)

[2016-06-27 15:32] nobso commented on #210
@mousemke, Where have you been looking for a generated file? The report will be generated when you run 'npm run test'.

Can you please add the path for CI report and look at the path?

[code]

[2016-06-27 15:39] mousemke commented on #210
still the same result.  no ci_report anything (searched whole drive, for the sake of it)

also for the sake of it, my package.json script
`"test:visual:cli": "npm run test:visual:clean && cd node_modules/backstopjs/ && npm run test"`

[2016-06-27 16:24] mousemke commented on #210
output (report changed to just "CI" for brevity.  no mention of ci, no errors)

[code]

[2016-06-27 17:50] nobso commented on #210
@mousemke From this log, i don't see the 'compare' task running. Can you confirm that ?

[2016-06-27 18:18] nobso commented on #210
@mousemke I think, i got the issue and it seems like there is a bug. Let me fix and raise a PR.

[2016-06-27 18:58] mousemke commented on #210
seems confirmed

![console](https://cloud.githubusercontent.com/assets/1480168/16391169/39595cb4-3ca6-11e6-925c-a6ede9789006.png)

[code]

i ran `cd node_modules/backstopjs/ && node node_modules/.bin/gulp compare` and it seemed to run the task

[code]

[2016-06-27 19:00] nobso commented on #210
@mousemke can you apply https://github.com/garris/BackstopJS/pull/211/files change and test ?

[2016-06-27 19:18] mousemke commented on #210
that does the trick.  thanks!

[2016-06-27 19:21] nobso commented on #210
Cool! Thanks for verifying the changes and sorry for the inconvenience! If @garris merges https://github.com/garris/BackstopJS/pull/211, we all would have that issue fixed in the next version.

[2016-06-27 19:23] garris commented on #210
@mousemke Thank you for reporting the issue and helping us to troubleshoot!
@nobso Thanks!  Will merge now...

[2016-06-27 19:24] nobso commented on #210
@mousemke Thanks for reporting it.

[2016-06-27 19:24] mousemke commented on #210
@nobso @garris no worries!  love to help.

[2016-06-28 00:34] garris commented on #196
Accidentally closed.

[2016-06-28 09:22] mousemke commented on #210
just a heads up.  file writing works, but it's still not running the compare task.  as a stop gap measure i'm just using
`"test:visual:cli": "npm run test:visual:clean && cd node_modules/backstopjs/ && npm run test && ../.bin/gulp compare"`

[2016-06-28 13:15] vflirt commented on #200
I have very similar issue with pretty much the same casper script for logged in user. My use case is as follows:
1) I have 2 scenarios
 - Homepage : testing 5 different elements
 - Search box: testing search form only visible for logged in users
2) I have 3 different viewports

If I have only search box scenario with 1 viewport and run the reference I can see the screenshot of the search box.
If I

[2016-06-28 13:43] vflirt commented on #200
I think I found the issue:
- using phantomjs
- for every viewport the same onbefore javascript is executed but it keeps the  info form the previous one so for the 2nd viewport it is already logged in which leads to casper failing to fill and submit the form and breaking the whole process.

As per my understanding onBeforeScript should run only once no matter the amount of viewports and onReadyScri

[2016-06-28 15:15] garris commented on #200
@vflirt -- thank you very much for troubleshooting the issue!

`onBeforeScript` runs before page request for every viewport.

Would something like only running on the first viewport this fix your issue?
[code]

Another approach might be to only log in if there is a form present...
[code]

I think the second version is probably more solid (but maybe less efficient).

Please let me know if either or

[2016-06-28 18:57] nobso commented on #210
@mousemke  ```npm run test``` should take care of that comparison.

[2016-06-29 05:40] vflirt commented on #200
Hi, thank you for the fast response. Running onBeforeScript on every page for every viewport totally makes sense. If we use slimerjs then we have no issues and for every page request for every viewport we have the login form but if we use phantomjs then after the first request we are still logged in on the second viewport so for a workaround we used the casper.exists to check for the form and that

[2016-06-29 13:32] garris commented on #200
Would you mind posting your workaround code so I can update the example?

[2016-07-01 06:05] vflirt commented on #200
Yep, here is my code:

module.exports = function(casper, scenario, vp) {
  casper.thenOpen(scenario.url, function() {
    if (this.exists('form#user-login-form')) {
      casper.fill('form#loginForm', {
        'name': "",
        'pass': ""
      }, true);
    }
  });
};

[2016-07-01 06:37] garris commented on #200
@vflirt Thank you for sharing!   Cheers,  Garris

[2016-07-01 06:37] #200 closed

[2016-07-01 07:03] vflirt opened #214 "Xunit report file is not generating correctly"
When running tests the xunit report file is not generating correctly.
I have tracked down the issue to the comapre.js file.
It generated the report file after comparison and only if the key equals testPairsLength + 1 however the comparisons are not run in the same order so the last pair will not always be the last one to run which leads to incorrect data written in the file.
If I move that block f

[2016-07-01 07:11] garris commented on #214
@vflirt thank you for posting this issue -- Suresh worked on that feature so I'd like to have him comment on the PR.

@nobso Could you please comment on this -- thanks!

[2016-07-01 15:54] nobso commented on #214
@vflirt Thanks for raising this issue 😃.  I got your point. Please raise the PR if you can or let me know i can do that right away.

[2016-07-01 16:02] levithomason commented on #165
How about adding an actual CLI?  It is strange to have to cd into the node_modules directory and run `npm scripts` on a dependency like this.   Usually, the package.json [defines a bin](https://docs.npmjs.com/files/package.json#bin) property. This `bin` property is what links your dependency into the node_modules/.bin directory, then, users can simply run `backstop` (or whatever you name it) from

[2016-07-01 16:57] levithomason commented on #135
Yes please!

[2016-07-01 17:46] levithomason commented on #135
See PR #215 for the fix.

[2016-07-01 22:00] levithomason opened #217 "Add more contributors"
I'd love to help move project along.  I'm most interested in helping with the CLI work noted in #164 and #165. I've also submitted #215 to fix #135 issue with exit codes.

Would you consider adding me as a contributor to help trudge some of the issues and PRs?  I'm trusted as a [Semantic UI Org](https://github.com/Semantic-Org) member, [ShellJS](https://github.com/shelljs) member, [watch](https://

[2016-07-01 22:04] #135 closed

[2016-07-01 22:50] garris commented on #165
Yes, absolutely!  A real CLI would be great.  Here are some top level requirements for that...

- maintain backward compatibility with existing npm API
- clean API
- simple implementation -- keep the bar low for other contributions.

That's about it.  I guess users would choose between a global install of BackstopCLI or a local BackstopJS `npm run <command>`-style depending on their needs?

[2016-07-01 22:53] levithomason commented on #165
Great.  I'll start a PR and spec out the CLI there in markdown before getting too far in the code.

[2016-07-01 22:53] garris commented on #217
Hi @levithomason!  Thank you for PR #215 -- I've just merged that in.

I am very happy to have you contributing anything else you're interested in.

I'll be out of town for a week -- but lets follow up after that.

Again, thanks for your contributions!

[2016-07-01 22:54] garris commented on #165
Sounds great!  👍

[2016-07-01 22:54] levithomason commented on #217
Awesome.  Could you add me to the repo as a collaborator so I can contribute directly?

[2016-07-01 22:55] levithomason commented on #217
I should clarify, nothing will get merged without your sign off of course.

[2016-07-01 23:09] garris commented on #217
To date all contributors are just posting PR's.  Seems to work pretty good that way.

[2016-07-01 23:10] levithomason commented on #217
Sounds good.  Let's start it that way.

[2016-07-01 23:10] #217 closed

[2016-07-01 23:14] #214 closed

[2016-07-06 14:20] hamzazaidi opened #218 "Having trouble install npm backstopjs"
getting

npm ERR! fetch failed https://registry.npmjs.org/backstopjs/-/backstopjs-1.3.5.tgz
npm WARN retry will retry, error on last attempt: Error: fetch failed with status code 502

[2016-07-07 19:50] stephenbe opened #219 "Failed at the backstopjs@1.3.5 test script 'gulp test'."
Hello,

when I run npm run test I get this error :
[code]

Npm-debug-log

[code]

Thank you

Tested on latest version of Windows 10

[2016-07-07 19:51] stephenbe commented on #219
Additional points: the local server runs and it does discover errors when I add CSS.

[2016-07-11 11:11] cosm1c opened #221 "CI JUnit report omits successful"
The CI JUnit report omits successful results from the xunit.xml file.

It does include failures though.

[2016-07-12 07:42] cosm1c commented on #221
I was wrong - error was in my setup.

[2016-07-12 17:26] garris commented on #221
Glad it's working for you.  Thanks for posting!

[2016-07-12 17:26] #221 closed

[2016-07-12 17:57] nobso opened #223 "Sauce lab integration"
@garris What do you think about integrating with Sauce labs for running the tests?

[2016-07-12 17:59] garris commented on #223
I think that sounds great!

[2016-07-12 18:00] nobso commented on #223
Cool, i will work on it soon!

[2016-07-12 18:01] nobso commented on #223
Can you please change the issue label to enhancement ?

[2016-07-12 18:51] garris commented on #218
@hamzazaidi -- are you still having this issue?  This is working for me.   Please LMK.  Thank you.

[2016-07-12 18:53] garris commented on #219
@stephenbe does the NPM error go away when there are no mismatches found?

[2016-07-12 18:54] garris commented on #210
@mousemke did that take care of your issue?

[2016-07-12 19:29] mousemke commented on #210
Yup. Sorry for no reply. All better!

[2016-07-12 19:31] nobso commented on #210
@mousemke Good to hear that! 😄  @garris lets close this issue.

[2016-07-12 19:52] stephenbe commented on #219
@garris The npm error goes away when there are no mismatches

![cmd_2016-07-12_15-51-58](https://cloud.githubusercontent.com/assets/3018441/16781299/9868b828-4848-11e6-87cc-c52ed3aba8d5.png)

[2016-07-12 20:45] garris commented on #219
ok, then this is behaving as designed.   BackstopJS is reporting the failure back to NPM and NPM is letting you know.   We used to have a parameter to enable more friendly feedback -- but it was removed because it conflicted with a major CI use case.   There is probably a light-touch way to prevent this without breaking CI integration (maybe by adding a command or modifier).   Hopefully someone ca

[2016-07-12 20:48] garris commented on #210
Thanks guys!  👍

[2016-07-12 20:48] #210 closed

[2016-07-12 21:09] stephenbe commented on #219
Would there a way to create a gulp / grunt plugin to handle the errors more gracefully?

[2016-07-12 22:14] garris commented on #219
Probably not.  It would be more like adding a config prop e.g. `suppressCliErrorMsg: true` in the BackstopJS config file.  Then returning a `1` if suppressCliErrorMsg is true at this spot... https://github.com/garris/BackstopJS/blob/master/gulp/tasks/compare.js#L37

[2016-07-12 22:25] stephenbe commented on #219
That would be perfect, anything to make it seem like it isn't a bug would help the product in my opinion

[2016-07-18 16:39] IoT-master opened #224 "Running Multiple Phantom/Slimer Instances with more than one scenarios"
Hi,
Is it possible to run multiple PhantomJS instances instead of just one? I'm looking to speed up my backstop tasks.